n8n/FHS_Query_GlobalReview_cached.json
{
  "name": "FHS_Query_GlobalReview",
  "nodes": [
    {
      "parameters": {
        "content": "### 📊 【全域核對中心 - 數據抓取引擎】\n\n**核心用途：** 支援 V27 全域核對中心的後端數據檢索。\n\n**主要功能：**\n1. **動態過濾：** 接收年度、月份、狀態、單號、姓名或批次等過濾條件。\n2. **合併查詢：** 同時檢索 `Main_Orders` 與關聯的 `Order_Items` 子項目。\n3. **格式化輸出：** 整理成 Excel 風格的 JSON 數據供給前端 Grid 顯示。\n4. **深度稽核支援：** [V45.2 新增] 讀取 `Raw_Form_State` 欄位，支援沙盒模式下的歷史訂單還原稽核。\n5. **[V46.0 新增] 5分鐘快取層：** 減少重複 Airtable API 呼叫，保護免超配額。",
        "height": 300,
        "width": 550
      },
      "id": "10a9c930-bb6e-456a-bb85-20b25ca2c447",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14896,
        4560
      ]
    },
    {
      "parameters": {
        "path": "fetch-global-review",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4a6b2e75-a5a1-4571-9b6d-b9962df5e20f",
      "name": "Webhook (Fetch Review)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        15456,
        5216
      ],
      "webhookId": "fhs-fetch-global-review-v27"
    },
    {
      "parameters": {
        "jsCode": "// 【V46.0 快取層】提取查詢參數並生成快取鍵\nconst query = $input.item.json.query || {};\nconst queryStr = JSON.stringify({\n  year: query.year || '',\n  month: query.month || '',\n  status: query.status || '',\n  batch: query.batch || '',\n  search: query.search || ''\n});\n\n// 生成簡單雜湊作為快取鍵\nlet hash = 0;\nfor (let i = 0; i < queryStr.length; i++) {\n    const char = queryStr.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n}\nconst cacheKey = `fhs_review_${Math.abs(hash)}`;\nconst cacheFile = `/tmp/${cacheKey}.json`;\n\nlet formulas = [];\nif (query.year && query.month) {\n    formulas.push(`DATETIME_FORMAT(CREATED_TIME(), 'YYYY-MM') = '${query.year}-${query.month}'`);\n} else if (query.year) {\n    formulas.push(`DATETIME_FORMAT(CREATED_TIME(), 'YYYY') = '${query.year}'`);\n} else if (query.month) {\n    formulas.push(`DATETIME_FORMAT(CREATED_TIME(), 'MM') = '${query.month}'`);\n}\n\nif (query.status) {\n    formulas.push(`{Process_Status} = '${query.status}'`);\n}\nif (query.batch) {\n    formulas.push(`FIND('${query.batch}', {Batch_Number}) > 0`);\n}\nif (query.search) {\n    formulas.push(`OR(FIND('${query.search}', {Customer_Name}) > 0, FIND('${query.search}', {Order_ID}) > 0)`);\n}\n\nlet finalFormula = \"\";\nif (formulas.length > 0) {\n    finalFormula = `AND(${formulas.join(', ')})`;\n}\n\nreturn { json: { formula: finalFormula, cacheKey, cacheFile, queryParams: query } };"
      },
      "id": "80607e54-e167-49f3-839e-2418cf996eb1",
      "name": "Build Formula & Cache Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15648,
        5216
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.cacheFile }}"
      },
      "id": "cache-reader-node-v46",
      "name": "Try Read Cache",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        15856,
        5100
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 【V46.0 快取驗證】檢查快取有效性 (TTL: 5分鐘)\nconst buildFormulaOutput = $(\"Build Formula & Cache Key\").first();\nconst cacheReadOutput = $(\"Try Read Cache\").first();\n\nlet isCacheValid = false;\nlet cachedData = null;\n\nif (cacheReadOutput && cacheReadOutput.binary && cacheReadOutput.binary.data) {\n    try {\n        const cacheContent = Buffer.from(cacheReadOutput.binary.data.data, 'base64').toString();\n        const cacheObj = JSON.parse(cacheContent);\n        const now = Date.now();\n        const ageMs = now - cacheObj.timestamp;\n        const ttlMs = 5 * 60 * 1000; // 5分鐘\n        \n        if (ageMs < ttlMs) {\n            isCacheValid = true;\n            cachedData = cacheObj.data;\n        }\n    } catch (e) {\n        // 快取讀取或解析失敗，視為無效\n    }\n}\n\nreturn { \n  json: { \n    isCacheValid,\n    cachedData,\n    formula: buildFormulaOutput.json.formula,\n    cacheKey: buildFormulaOutput.json.cacheKey,\n    cacheFile: buildFormulaOutput.json.cacheFile,\n    queryParams: buildFormulaOutput.json.queryParams\n  }\n};"
      },
      "id": "cache-validator-node-v46",
      "name": "Check Cache Validity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16000,
        5100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "booleanProperties": [
            {
              "key": "isCacheValid"
            }
          ]
        }
      },
      "id": "cache-decision-switch-v46",
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        16144,
        5100
      ]
    },
    {
      "parameters": {
        "jsCode": "// 【快取命中】直接返回快取數據\nconst validatorOutput = $(\"Check Cache Validity\").first();\nreturn { \n  json: { \n    success: true, \n    count: validatorOutput.json.cachedData ? validatorOutput.json.cachedData.orders.length : 0,\n    orders: validatorOutput.json.cachedData ? validatorOutput.json.cachedData.orders : [],\n    _cacheHit: true\n  }\n};"
      },
      "id": "return-cached-data-v46",
      "name": "Return Cached Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16288,
        5000
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbltCH0I9fknVCtmV",
          "mode": "id"
        },
        "filterByFormula": "={{ $json.formula }}",
        "options": {}
      },
      "id": "4786c65e-b00f-4b09-8125-d1cd0ba96b93",
      "name": "Search Main_Orders",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        16288,
        5216
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0 || !items[0].json.id) return { json: { success: true, count: 0, mainOrders: [] } };\n\nconst mainOrders = items.map(item => {\n    const data = item.json;\n    return {\n        id: data.id,\n        Order_ID: data.Order_ID || 'N/A',\n        Date: data.createdTime,\n        Customer: data.Customer_Name || '-',\n        Batch: data.Batch_Number || '',\n        Status: data.Process_Status || '0 什麼都未做',\n        Admin_Notes: data.Admin_Notes || '',\n        Sales: data.Final_Sale_Price || 0,\n        Cost: data.Total_Cost || 0,\n        Net_Profit: data.Net_Profit || 0,\n        Raw_Form_State: data.Raw_Form_State || '',\n        Order_Items_Links: data.Order_Items || []\n    };\n});\nreturn { json: { mainOrders } };"
      },
      "id": "a942af97-633c-4d9a-abc9-955779d69c86",
      "name": "Format Main Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16480,
        5216
      ]
    },
    {
      "parameters": {
        "jsCode": "const mainOrders = $input.item.json.mainOrders || [];\nlet allSubItemIds = [];\nmainOrders.forEach(mo => {\n    if (mo.Order_Items_Links && mo.Order_Items_Links.length > 0) {\n        allSubItemIds = allSubItemIds.concat(mo.Order_Items_Links);\n    }\n});\n\nif (allSubItemIds.length === 0) {\n    return { json: { formula: \"RECORD_ID()='INVALID'\", mainOrders } };\n}\n\nconst uniqueIds = [...new Set(allSubItemIds)];\nconst formulaParts = uniqueIds.map(id => `RECORD_ID()='${id}'`);\nlet chunks = [];\nfor (let i = 0; i < formulaParts.length; i+=50) {\n   chunks.push(`OR(${formulaParts.slice(i, i+50).join(',')})`);\n}\nlet finalFormula = chunks.length > 1 ? `OR(${chunks.join(',')})` : chunks[0];\nreturn { json: { formula: finalFormula, mainOrders } };"
      },
      "id": "d7ac4405-e4c4-40f3-ac29-bfa8cdbb9982",
      "name": "Build SubItems Formula",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16688,
        5216
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbljkptnNcUEyDRFH",
          "mode": "id"
        },
        "filterByFormula": "={{ $json.formula }}",
        "options": {}
      },
      "id": "7104e389-59f3-460a-a53c-1f8b956a2586",
      "name": "Search Order_Items",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        16880,
        5216
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "filePath": "={{ $json.cacheFile }}"
      },
      "id": "cache-writer-node-v46",
      "name": "Write Review Cache",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        17040,
        5216
      ]
    },
    {
      "parameters": {
        "jsCode": "// 【快取寫入】在返回前保存到快取文件\nconst validatorOutput = $(\"Check Cache Validity\").first();\nconst cacheFile = validatorOutput.json.cacheFile;\n\nconst subItemsData = $(\"Search Order_Items\").all();\nconst buildFormulaNode = $(\"Build SubItems Formula\").first();\nconst mainOrdersContext = (buildFormulaNode && buildFormulaNode.json) ? buildFormulaNode.json.mainOrders : [];\n\nlet productsCache = [];\n\nconst productMap = {};\nproductsCache.forEach(p => { productMap[p.id] = p.fields; });\n\nconst subItemsMap = {};\nif (subItemsData.length > 0 && subItemsData[0].json.id) {\n    subItemsData.forEach(item => {\n        const data = item.json;\n        const pid = data.Product_Link && data.Product_Link.length > 0 ? data.Product_Link[0] : '';\n        const cachedProduct = productMap[pid] || {};\n        \n        subItemsMap[data.id] = {\n            id: data.id,\n            Item_ID: data.Item_ID,\n            Product: cachedProduct.Product_Name || pid,\n            Category: cachedProduct.Main_Category || (data.Item_Category && data.Item_Category.length > 0 ? data.Item_Category[0] : ''),\n            Qty: data.Quantity || 0,\n            BaseCost: cachedProduct.Total_Base_Cost || (data.Item_BaseCost && data.Item_BaseCost.length > 0 ? data.Item_BaseCost[0] : 0),\n            Engraving: data.Engraving_Text || '',\n            Specification: data.Specification || '',\n            OrderKey: data.Order_Item_Key || '',\n            Batch: data.Batch_Number || '',\n            Status: data.Process_Status || ''\n        };\n    });\n}\n\nif (Array.isArray(mainOrdersContext)) {\n    mainOrdersContext.forEach(mo => {\n        mo.items = [];\n        if (mo.Order_Items_Links && Array.isArray(mo.Order_Items_Links)) {\n            mo.Order_Items_Links.forEach(linkId => {\n                if (subItemsMap[linkId]) {\n                    mo.items.push(subItemsMap[linkId]);\n                }\n            });\n        }\n    });\n}\n\nconst responseData = { \n  success: true, \n  count: mainOrdersContext ? mainOrdersContext.length : 0, \n  orders: mainOrdersContext,\n  _cacheFresh: true\n};\n\n// 準備快取數據 (JSON 序列化後轉 Base64)\nconst cacheObj = {\n  timestamp: Date.now(),\n  data: responseData\n};\nconst jsonStr = JSON.stringify(cacheObj);\nconst buffer = Buffer.from(jsonStr, 'utf8');\nconst base64 = buffer.toString('base64');\n\nreturn { \n  json: responseData,\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'application/octet-stream',\n      fileName: cacheFile\n    }\n  }\n};"
      },
      "id": "merge-data-with-cache-v46",
      "name": "Merge Data & Write Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17088,
        5216
      ]
    }
  ],
  "connections": {
    "Webhook (Fetch Review)": {
      "main": [
        [
          {
            "node": "Build Formula & Cache Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Formula & Cache Key": {
      "main": [
        [
          {
            "node": "Try Read Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Read Cache": {
      "main": [
        [
          {
            "node": "Check Cache Validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache Validity": {
      "main": [
        [
          {
            "node": "Return Cached Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Main_Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Main_Orders": {
      "main": [
        [
          {
            "node": "Format Main Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Main Orders": {
      "main": [
        [
          {
            "node": "Build SubItems Formula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SubItems Formula": {
      "main": [
        [
          {
            "node": "Search Order_Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Order_Items": {
      "main": [
        [
          {
            "node": "Merge Data & Write Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data & Write Cache": {
      "main": [
        [
          {
            "node": "Write Review Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "32757ae79ea0dadd1f6ecd35f1438ee9954d79400ae4830b88eb9428692bddea"
  }
}
