n8n/FHS_Action_MetadataUpdate.json
{
  "name": "FHS_Action_MetadataUpdate",
  "nodes": [
    {
      "parameters": {
        "content": "### 🚀 【全域核對 - 防爆快充引擎 (V3)】\n\n**核心用途：** 導入 Debounce Queue 支援，極大化 Airtable API 壽命。\n\n**更新亮點 (Option B)：**\n1. **原生批次寫入：** 接收陣列並透過 Code 節點進行 10 筆一組的 Chunking。\n2. **高效能 PATCH：** 減少 90% 的 Webhook 執行開銷。\n3. **絕對防護：** 確保最後輸出必為 200 OK。",
        "height": 280,
        "width": 550
      },
      "id": "doc-Update_Order_Meta.json",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -350,
        -350
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-order-meta",
        "responseMode": "responseNode",
        "responseNode": "Format Success",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (Update Meta)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "fhs-update-order-meta-v27"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst updates = Array.isArray(body) ? body : [body];\n\n// 分流：分別處理 Order_Items (有 Item_Record_ID) 與 Main_Orders (無)\nconst itemUpdates = updates.filter(u => u.Item_Record_ID && u.Item_Record_ID.startsWith('rec'));\nconst mainUpdates = updates.filter(u => !u.Item_Record_ID || !u.Item_Record_ID.startsWith('rec'));\n\nreturn [\n  { json: { type: 'item', data: itemUpdates } },\n  { json: { type: 'main', data: mainUpdates } }\n];"
      },
      "id": "code-normalizer",
      "name": "Normalize & Split",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const updates = $json.data;\nif (!updates || updates.length === 0) return [];\n\n// 每 10 筆一組 (Airtable 官規上限)\nconst chunks = [];\nfor (let i = 0; i < updates.length; i += 10) {\n  const chunk = updates.slice(i, i + 10);\n  chunks.push({\n    json: {\n      records: chunk.map(u => ({\n        id: u.Item_Record_ID,\n        fields: {\n          Batch_Number: u.Batch_Number,\n          Process_Status: u.Process_Status\n        }\n      }))\n    }\n  });\n}\nreturn chunks;"
      },
      "id": "batch-items",
      "name": "Chunk Order_Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const updates = $json.data;\nif (!updates || updates.length === 0) return [];\n\nconst chunks = [];\nfor (let i = 0; i < updates.length; i += 10) {\n  const chunk = updates.slice(i, i + 10);\n  chunks.push({\n    json: {\n      records: chunk.map(u => ({\n        id: u.Record_ID,\n        fields: {\n          Admin_Notes: u.Admin_Notes,\n          Batch_Number: u.Batch_Number,\n          Process_Status: u.Process_Status\n        }\n      }))\n    }\n  });\n}\nreturn chunks;"
      },
      "id": "batch-main",
      "name": "Chunk Main_Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        450
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/app9GuLsW9frN4xaT/tbljkptnNcUEyDRFH",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-item",
      "name": "Batch PATCH Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/app9GuLsW9frN4xaT/tbltCH0I9fknVCtmV",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-main",
      "name": "Batch PATCH Main",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        450
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return { json: { success: true, message: 'Metadata updated' } };"
      },
      "id": "success-node",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        325
      ]
    }
  ],
  "connections": {
    "Webhook (Update Meta)": {
      "main": [
        [
          {
            "node": "Normalize & Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Split": {
      "main": [
        [
          {
            "node": "Chunk Order_Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chunk Main_Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Order_Items": {
      "main": [
        [
          {
            "node": "Batch PATCH Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Main_Orders": {
      "main": [
        [
          {
            "node": "Batch PATCH Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch PATCH Items": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch PATCH Main": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}