n8n/FHS_Core_OrderProcessor.json
{
  "updatedAt": "2026-03-25T12:56:55.450Z",
  "createdAt": "2026-03-24T02:57:23.796Z",
  "id": "6Ljih0hSKr9RpYNm",
  "name": "FHS_Core_OrderProcessor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "### 🚀 【訂單核心處理引擎】\n\n**核心用途：** 接收並處理前端 Dashboard 送出的所有新訂單與修改請求。\n\n**主要功能：**\n1. **自主利潤稽核 (Profit Auditor)：** [V45 新增] 自動比對前台與後台財務定律，異常時觸發紅燈警報。\n2. **拆解子項目：** 將合併的訂單資料拆解為個別的品項紀錄。\n3. **成本匹配：** 根據「五維度邏輯」自動從資料庫匹配畫圖、取模與物流成本。\n4. **雙向同步：** 將資料精準寫入 Airtable (主表與子表)，支援 Upsert 避免重複。\n5. **Telegram 戰報：** 自動計算淨利潤並發送至老闆的手機。",
        "height": 312,
        "width": 550,
        "color": 1
      },
      "id": "9decd26c-07f2-4553-a1a7-8220dd9ea7fc",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        30896,
        6848
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.Order_Items_List",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "479490d0-f233-431f-951f-031122ebac84",
      "name": "Find Product ID",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        31088,
        7840
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "7620524971",
        "text": "=✅ 【Freehandsss {{ $json.Action === 'edit' ? '修正訂單' : ($json.Action === 'delete' ? '刪除通知' : '新訂單') }} 成功】\n------------------------\n👤 客人：{{ $json.Customer_Name }}\n📝 單號：{{ $json.Order_ID }}\n{{ $json.Update_Note ? '\\n🔄 更新摘要：' + $json.Update_Note + '\\n' : '' }}\n\n🛍️ 【訂單商品詳情】\n{{ $json.Order_Text }}\n\n💰 【財務核算】\n總入帳：${{ $json.Total_Revenue }}\n總成本：${{ $json.Total_Cost }}\n🏆 淨利潤：${{ $json.Final_Profit }}\n\n💡 系統提示：子項目已完美拆解並精準 Upsert 至 Airtable！",
        "replyMarkup": "none",
        "additionalFields": {}
      },
      "id": "c87bd1f1-c7db-41ff-aef5-c4ceb6b02e17",
      "name": "Send Profit Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32048,
        7664
      ],
      "webhookId": "4f286124-f5ee-411b-851f-9dd83e1fc318",
      "credentials": {
        "telegramApi": {
          "id": "tSbXz97PKmdPpDNq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tbljkptnNcUEyDRFH",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product_Link": "={{ [$json.Product_ID] }}",
            "Quantity": "={{ Number($json.Quantity) }}",
            "Engraving_Text": "={{ $json.Notes }}",
            "Order_Link": "={{ [$json.Main_Order_ID] }}",
            "Order_Item_Key": "={{ $json.Order_Item_Key }}"
          },
          "matchingColumns": [
            "Order_Item_Key"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "id": "895c1914-7705-49cc-bdfa-409ddee285c1",
      "name": "Create Sub Items",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        31616,
        7648
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// 1. 抓取剛剛建好的「主訂單 ID」\nconst recordId = $input.first().json.id;\n\n// 2. 獲取打包好的子項目清單\nconst subItems = $('Calculate Profit & Pack Items').first().json.Sub_Items || [];\n\n// 3. 轉換為 n8n 資料格式\nreturn subItems.map(item => ({\n  json: {\n    Product_ID: item.Product_Record_ID,\n    Quantity: item.Quantity,\n    Notes: item.Notes,\n    Main_Order_ID: recordId,\n    Order_Item_Key: item.Order_Item_Key\n  }\n}));",
        "notice": ""
      },
      "id": "f2fe8818-c460-4ba8-94bb-0be673a85c91",
      "name": "Bind Main Order ID",
      "type": "n8n-nodes-base.code",
      "position": [
        31408,
        7648
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tbltCH0I9fknVCtmV",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_ID": "={{ $json.Order_ID }}",
            "Customer_Name": "={{ $json.Customer_Name }}",
            "Deposit": "={{ $json.Deposit }}",
            "Balance": "={{ $json.Balance }}",
            "Additional_Fee": "={{ $json.Additional_Fee }}",
            "Final_Sale_Price": "={{ $json.Total_Revenue }}",
            "Total_Cost": "={{ $json.Total_Cost }}",
            "Net_Profit": "={{ $json.Final_Profit }}",
            "Full_Order_Text": "={{ $json.Order_Text }}",
            "Raw_Form_State": "={{ $json.Raw_Form_State }}",
            "Appointment_Date": "={{ $json.Appointment_Date }}",
            "Order_Confirm_Date": "={{ $json.Order_Confirm_Date || null }}"
          },
          "matchingColumns": [
            "Order_ID"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "id": "a702631d-a2f5-4553-9ed2-33a5449397ba",
      "name": "Create Main Order",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        31840,
        7744
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// API V40.5 協議：批量收集 SKU (安全重生版)\nconst items = $input.all();\n\n// 強制數組檢查與防禦\nif (!Array.isArray(items) || items.length === 0) {\n    return { json: { batchFormula: \"RECORD_ID()='INVALID'\", hasItems: false } };\n}\n\nconst skus = [...new Set(items.map(i => i.json.Search_SKU).filter(s => s && s !== \"無商品\"))];\n\nif (skus.length === 0) {\n    return { json: { batchFormula: \"RECORD_ID()='INVALID'\", hasItems: false } };\n}\n\nconst formulaParts = skus.map(s => `{Product_Name} = '${s}'`);\nconst finalFormula = skus.length > 1 ? `OR(${formulaParts.join(',')})` : formulaParts[0];\n\nreturn { json: { batchFormula: finalFormula, hasItems: true } };",
        "notice": ""
      },
      "id": "94d1c0c0-5cd8-460c-be20-e3b328ccf8db",
      "name": "Batch SKU Collector",
      "type": "n8n-nodes-base.code",
      "position": [
        31616,
        7424
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblC3HDJAz9W0OF6R",
          "mode": "id"
        },
        "filterByFormula": "={{ $json.batchFormula }}",
        "returnAll": true,
        "options": {},
        "sort": {}
      },
      "id": "503014ba-a49f-4388-9c44-3ef56f5ff4dd",
      "name": "Fetch Exact Base Cost",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        31824,
        7424
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// API V40.5 協議：本地數據映射 Mapping (存活定律版)\nconst costNode = $(\"Fetch Exact Base Cost\");\nconst originalItemsNode = $(\"Parse Items & Generate SKU\");\n\n// 確保節點存在且有資料，否則安全回退\nconst costResults = costNode ? costNode.all() : [];\nconst originalItems = originalItemsNode ? originalItemsNode.all() : [];\n\nconst costMap = {};\ncostResults.forEach(r => {\n    if (r.json && r.json.id) {\n        costMap[r.json.Product_Name] = {\n            id: r.json.id,\n            Product_Name: r.json.Product_Name,\n            Total_Base_Cost: Number(r.json.Total_Base_Cost) || 0\n        };\n    }\n});\n\nreturn originalItems.map(item => {\n    const sku = item.json.Search_SKU;\n    // 實裝 Section 14.5 數據映射存活定律：找不到成本則預設為 0\n    const costData = costMap[sku] || { id: null, Product_Name: sku, Total_Base_Cost: 0 };\n    return {\n        json: {\n            ...item.json,\n            ...costData\n        }\n    };\n});",
        "notice": ""
      },
      "id": "bcf44653-be85-445b-ad3b-275eb11e1f1c",
      "name": "Local Data Mapper",
      "type": "n8n-nodes-base.code",
      "position": [
        32016,
        7424
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// === Freehandsss V40.5 (安全重生版): 大腦 2 號 (利潤精算 - 並將子項目打包) ===\n\nconst parseNode = $('Parse Items & Generate SKU');\nconst parseNodeItems = parseNode ? parseNode.all() : [];\n\nif (parseNodeItems.length === 0) {\n    // 根本性防禦：如果連初始解析都沒有，傳回基本的空 payload 避免當機\n    return [{ json: { Total_Revenue: 0, Total_Cost: 0, Final_Profit: 0, Sub_Items: [] } }];\n}\n\nconst firstNodeData = parseNodeItems[0].json || {};\nconst totalRevenue = Number(firstNodeData.Total_Revenue) || 0;\nconst rawFormState = firstNodeData.Raw_Form_State || \"\";\n\nlet deposit = 0;\nlet balance = 0;\nlet additionalFee = 0;\n\ntry {\n    const triggerNode = $('Receive Dashboard Order');\n    const triggerBody = (triggerNode && triggerNode.first()) ? (triggerNode.first().json.body || triggerNode.first().json) : {};\n    deposit = Number(triggerBody.Deposit) || 0;\n    balance = Number(triggerBody.Balance) || 0;\n    additionalFee = Number(triggerBody.Additional_Fee) || 0;\n} catch (error) { }\n\nlet totalBaseCost = 0;\nlet packedItems = [];\n\nconst items = $input.all(); \nfor (let i = 0; i < parseNodeItems.length; i++) {\n    // 終極防禦機制：當 $input 找不到對應 item 時安全回退，避免 Cannot read properties of undefined\n    let originalItemData = parseNodeItems[i].json || {};\n    let itemData = (items[i] && items[i].json) ? items[i].json : originalItemData;\n\n    let itemCost = Number(itemData.Total_Base_Cost) || 0;\n    totalBaseCost += itemCost;\n\n    packedItems.push({\n        Product_Record_ID: itemData.id || null, \n        Product_Name: itemData.Product_Name || originalItemData.Search_SKU || \"Unknown SKU\",\n        Total_Base_Cost: itemCost,\n        Quantity: Number(originalItemData.Original_Qty) || 1,\n        Notes: originalItemData.Item_Notes || \"\",\n        Order_Item_Key: originalItemData.Order_Item_Key || \"\"\n    });\n}\n\nconst finalProfit = totalRevenue - totalBaseCost;\n\nreturn [{\n    json: {\n        ...firstNodeData,              \n        Total_Revenue: totalRevenue,   \n        Total_Cost: totalBaseCost,     \n        Final_Profit: finalProfit,     \n        Deposit: deposit,              \n        Balance: balance,              \n        Additional_Fee: additionalFee, \n        Raw_Form_State: rawFormState,\n        Sub_Items: packedItems         \n    }\n}];",
        "notice": ""
      },
      "id": "7ffb2baa-8f1d-4ec9-bb52-b4ad3c61f98d",
      "name": "Calculate Profit & Pack Items",
      "type": "n8n-nodes-base.code",
      "position": [
        32224,
        7424
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "multipleMethods": false,
        "httpMethod": "POST",
        "path": "1444800b-1397-4154-b2da-a4d328c6c51b",
        "authentication": "none",
        "responseMode": "onReceived",
        "contentTypeNotice": "",
        "options": {}
      },
      "id": "5e776f97-bd51-4632-a729-0454e9c84a99",
      "name": "Receive Dashboard Order",
      "type": "n8n-nodes-base.webhook",
      "position": [
        30960,
        7424
      ],
      "typeVersion": 2.1,
      "webhookId": "b2429fcb-502e-407f-be70-7318b774d689"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// === V45.7.4 Parse Items & Generate SKU (SKU Normalization Layer) ===\nconst body = $(\"Receive Dashboard Order\").first().json.body || $(\"Receive Dashboard Order\").first().json;\nconst orderId = body.Order_ID || \"未命名\";\nconst customer = body.Customer_Name || \"未命名\";\nconst appDate = body.Appointment_Date || null;\nconst revenue = (body.Deposit || 0) + (body.Balance || 0) + (body.Additional_Fee || 0);\nconst rawText = body.Full_Order_Text || \"\";\nconst rawState = body.Raw_Form_State || \"\";\n\nlet outputItems = [];\n\n// V45.7.4: Support both Order_Items_List (Dashboard) and Items (legacy/test)\nconst itemsList = body.Order_Items_List || body.Items;\n\nif (itemsList && Array.isArray(itemsList)) {\n    for (const item of itemsList) {\n        let sku = item.Product_Name || \"\";\n        const qty = Number(item.Quantity) || 1;\n\n        // === 1. 3D Display SKU Normalization (Bible V3.7 Section 4) ===\n        // Handles: 木框款式/木框套裝/立體擺設(木框) → 木框套裝 (N肢)\n        // Rule: 3肢 maps to 4肢 pricing per V3.7\n        if (sku.includes(\"木框\")) {\n            let limb = (sku.includes(\"4肢\") || sku.includes(\"3肢\")) ? \"(4肢)\" : \"(2肢)\";\n            sku = `木框套裝 ${limb}`;\n        } else if (sku.includes(\"玻璃瓶\")) {\n            let limb = (sku.includes(\"4肢\") || sku.includes(\"3肢\")) ? \"(4肢)\" : \"(2肢)\";\n            sku = `玻璃瓶套裝 ${limb}`;\n        }\n\n        // === 2. Keychain SKU Normalization ===\n        // Dashboard sends: \"嬰兒鎖匙扣 - 不銹鋼\" + Mode: \"(加購)\"\n        // Airtable expects: \"嬰兒鎖匙扣 - 不銹鋼 - {qty}飾 {mode}\"\n        if (sku.includes(\"鎖匙扣\") && item.Mode) {\n            sku = `${sku} - ${qty}飾 ${item.Mode}`;\n        }\n\n        // === 3. Jewelry/Charm SKU Normalization ===\n        // Dashboard sends: \"嬰兒吊飾 - 925銀\" + Mode: \"(加購)\"\n        // Airtable expects: \"嬰兒吊飾 - 925銀 - {qty}飾 {mode}\"\n        if (sku.includes(\"吊飾\") && item.Mode) {\n            sku = `${sku} - ${qty}飾 ${item.Mode}`;\n        }\n\n        let shipping_saved = (sku.includes(\"鎖匙扣\") && qty > 1) ? (qty - 1) * 20 : 0;\n        let necklace_saved = (sku.includes(\"吊飾\")) ? Math.floor(qty / 2) * 220 : 0;\n\n        outputItems.push({\n            json: {\n                Order_ID: orderId,\n                Customer_Name: customer,\n                Appointment_Date: appDate,\n                Total_Revenue: revenue,\n                Order_Text: rawText,\n                Raw_Form_State: rawState,\n                Search_SKU: sku,\n                Original_Qty: qty,\n                Item_Notes: item.Notes || \"\",\n                Order_Item_Key: item.Order_Item_Key || \"\",\n                Shipping_Deduction: shipping_saved,\n                Necklace_Deduction: necklace_saved\n            }\n        });\n    }\n} else {\n    outputItems.push({ json: { Order_ID: orderId, Customer_Name: customer, Total_Revenue: revenue, Order_Text: rawText, Raw_Form_State: rawState, Search_SKU: \"無商品\", Shipping_Deduction: 0, Necklace_Deduction: 0 }});\n}\nreturn outputItems;",
        "notice": ""
      },
      "id": "97e25cdd-619b-4033-b189-8f2fbb654ac4",
      "name": "Parse Items & Generate SKU",
      "type": "n8n-nodes-base.code",
      "position": [
        31184,
        7424
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Profit Auditor V45.8 - Anti-Loss Guard\n// Business logic: Ling Au sets prices manually; system price is reference only.\n// Audit purpose: only alert if actual collected < system cost (selling at a loss)\nconst body = $(\"Receive Dashboard Order\").first().json.body || $(\"Receive Dashboard Order\").first().json;\n\nconst deposit       = Number(body.Deposit)           || 0;\nconst balance       = Number(body.Balance)           || 0;\nconst additionalFee = Number(body.Additional_Fee)    || 0;\nconst actualTotal   = deposit + balance + additionalFee;\nconst systemCost    = Number(body.System_Total_Cost) || 0;\n\nlet auditResults = {\n    auditPassed: true,\n    systemCost:  systemCost,\n    actualTotal: actualTotal,\n    discrepancy: 0,\n    reasons:     [],\n    orderId:     body.Order_ID      || \"Unknown\",\n    customer:    body.Customer_Name || \"Unknown\",\n    role:        body.Role          || \"ling\"\n};\n\n// Only audit when both values are meaningful (skip if no payment entered yet)\nif (actualTotal > 0 && systemCost > 0) {\n    if (actualTotal < systemCost) {\n        const diff = systemCost - actualTotal;\n        auditResults.auditPassed = false;\n        auditResults.discrepancy = diff;\n        auditResults.reasons.push(`At-a-loss alert: collected $${actualTotal}, cost $${systemCost}, gap $${diff}`);\n    }\n}\n\nreturn [{ json: auditResults }];",
        "notice": ""
      },
      "id": "008aca1b-15c9-43c9-a861-e8c602fcded3",
      "name": "Profit Auditor",
      "type": "n8n-nodes-base.code",
      "position": [
        30816,
        7216
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "rules",
        "dataType": "boolean",
        "value1": "={{ $json.auditPassed }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": false,
              "output": 0
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "e6bc9cd3-a6ba-4574-9adf-b9a1d35afa9f",
      "name": "Auditor Logic Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        31024,
        7200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "7620524971",
        "text": "=🚨 【財務稽核異常警報】 🚨\n單號：{{ $json.orderId }}\n原因：稽核未通過！",
        "replyMarkup": "none",
        "additionalFields": {}
      },
      "id": "e1c41995-b56d-48a2-96c0-798dece625b0",
      "name": "Auditor Alert",
      "type": "n8n-nodes-base.telegram",
      "position": [
        31232,
        7200
      ],
      "typeVersion": 1.2,
      "webhookId": "87d23371-1560-4e1b-91e6-79c0e702dc7c",
      "credentials": {
        "telegramApi": {
          "id": "tSbXz97PKmdPpDNq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "filePath": ".n8n/data/products.json",
        "dataPropertyName": "data"
      },
      "id": "95b15b0c-5474-4074-acf6-84956f195e3c",
      "name": "Read Cache File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        31728,
        7248
      ],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// V47.1 Fix: Disable stale zero-cost cache, always fetch fresh from Airtable\nconst batchItems = $(\"Batch SKU Collector\").all();\n\n// Cache disabled - NAS cache has Total_Base_Cost=0 (stale data)\n// Always force cache miss so Fetch Exact Base Cost runs and gets correct costs\nreturn batchItems.map(item => ({\n  json: { ...item.json, useCache: false }\n}));",
        "notice": ""
      },
      "id": "2bb644ad-7b4c-456e-884a-e2cbfd09a10e",
      "name": "Smart Cache Strategist",
      "type": "n8n-nodes-base.code",
      "position": [
        31920,
        7248
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "rules",
        "dataType": "string",
        "value1": "={{ $json.useCache === true ? 'yes' : 'no' }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "yes",
              "output": 0
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "99e0b047-9bbe-4619-905c-b0d250d1a11a",
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.switch",
      "position": [
        32128,
        7248
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbltCH0I9fknVCtmV",
          "mode": "id"
        },
        "filterByFormula": "={{ \"TRIM({Order_ID}) = '\" + $json.Order_ID + \"'\" }}",
        "returnAll": false,
        "limit": 100,
        "options": {},
        "sort": {}
      },
      "id": "8a497284-6a00-4a42-8501-749bd67250a2",
      "name": "Search Record to Delete",
      "type": "n8n-nodes-base.airtable",
      "position": [
        31504,
        7232
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tbltCH0I9fknVCtmV",
          "mode": "list"
        },
        "id": "={{ $json.id }}"
      },
      "id": "0a4b6ceb-ef50-41cb-a7af-d8f8ffc525cc",
      "name": "Delete Record",
      "type": "n8n-nodes-base.airtable",
      "position": [
        31712,
        7056
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      },
      "issues": {}
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "7620524971",
        "text": "=🗑️ 【訂單已徹底刪除】\n單號：{{ $('Input Normalizer').item.json.Order_ID || '(已刪除)' }}\n客人：{{ $('Input Normalizer').item.json.Customer_Name || '(未知)' }}",
        "replyMarkup": "none",
        "additionalFields": {}
      },
      "id": "c417aea1-e0f2-45dc-92da-d5302070b899",
      "name": "Notify Telegram (Delete)",
      "type": "n8n-nodes-base.telegram",
      "position": [
        32000,
        7072
      ],
      "typeVersion": 1.2,
      "webhookId": "2f0ff02a-880d-4042-a9e2-7b4054da2281",
      "credentials": {
        "telegramApi": {
          "id": "tSbXz97PKmdPpDNq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// V47 Input Normalizer - single output\nconst input = $input.all()[0].json;\nconst rawPayload = (input.body !== undefined) ? input.body : input;\nconst body = Array.isArray(rawPayload) ? (rawPayload[0] || {}) : rawPayload;\nconst action = (body.action || body.Action || input.action || input.Action || \"create\").toLowerCase();\nreturn [{\n  json: {\n    ...input,\n    action: action,\n    isDelete: (action === 'delete'),\n    Record_ID: body.Record_ID || body.id || input.Record_ID || \"\",\n    Order_ID: body.Order_ID || input.Order_ID || \"\",\n    Customer_Name: body.Customer_Name || input.Customer_Name || \"\"\n  }\n}];",
        "notice": ""
      },
      "id": "1a7ade1b-fa1f-4ff0-9500-29c5919d1d6b",
      "name": "Input Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31184,
        7680
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "delete",
              "output": 0
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "23a75050-1f12-463b-846c-6765807953d1",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        31392,
        7408
      ]
    },
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Pack Telegram Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30480,
        7680
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const calc = $('Calculate Profit & Pack Items').first().json;\nreturn [{ json: {\n  Action: calc.Action || 'create',\n  Customer_Name: calc.Customer_Name || '',\n  Order_ID: calc.Order_ID || '',\n  Order_Text: calc.Order_Text || '',\n  Update_Note: calc.Update_Note || '',\n  Total_Revenue: calc.Total_Revenue || 0,\n  Total_Cost: calc.Total_Cost || 0,\n  Final_Profit: calc.Final_Profit || 0\n}}];",
        "notice": ""
      }
    }
  ],
  "connections": {
    "Receive Dashboard Order": {
      "main": [
        [
          {
            "node": "Input Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profit Auditor": {
      "main": [
        [
          {
            "node": "Auditor Logic Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auditor Logic Switch": {
      "main": [
        [
          {
            "node": "Auditor Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Items & Generate SKU": {
      "main": [
        [
          {
            "node": "Batch SKU Collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch SKU Collector": {
      "main": [
        [
          {
            "node": "Read Cache File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Exact Base Cost": {
      "main": [
        [
          {
            "node": "Local Data Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Data Mapper": {
      "main": [
        [
          {
            "node": "Calculate Profit & Pack Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Profit & Pack Items": {
      "main": [
        [
          {
            "node": "Create Main Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Main Order": {
      "main": [
        [
          {
            "node": "Bind Main Order ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bind Main Order ID": {
      "main": [
        [
          {
            "node": "Create Sub Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sub Items": {
      "main": [
        [
          {
            "node": "Pack Telegram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Cache File": {
      "main": [
        [
          {
            "node": "Smart Cache Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Cache Strategist": {
      "main": [
        [
          {
            "node": "Fetch Exact Base Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Hit?": {
      "main": [
        [
          {
            "node": "Calculate Profit & Pack Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Exact Base Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record to Delete": {
      "main": [
        [
          {
            "node": "Delete Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Record": {
      "main": [
        [
          {
            "node": "Notify Telegram (Delete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Normalizer": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Search Record to Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Profit Auditor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Items & Generate SKU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Telegram Data": {
      "main": [
        [
          {
            "node": "Send Profit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "19fceca5-c401-40ec-9daf-0eb846c3b09d",
  "activeVersionId": "6b3219b3-ff8a-473f-ac25-9828c41f8dee",
  "versionCounter": 344,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-24T02:57:23.800Z",
      "createdAt": "2026-03-24T02:57:23.800Z",
      "role": "workflow:owner",
      "workflowId": "6Ljih0hSKr9RpYNm",
      "projectId": "PusL5vFUw7BMC2xH",
      "project": {
        "updatedAt": "2026-02-10T09:32:56.368Z",
        "createdAt": "2026-02-10T07:48:52.904Z",
        "id": "PusL5vFUw7BMC2xH",
        "name": "Edwin Li <edwinli1030@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6bd45f76-307d-46fb-be47-d711e31203fb",
        "projectRelations": [
          {
            "updatedAt": "2026-02-10T07:48:52.905Z",
            "createdAt": "2026-02-10T07:48:52.905Z",
            "userId": "6bd45f76-307d-46fb-be47-d711e31203fb",
            "projectId": "PusL5vFUw7BMC2xH",
            "user": {
              "updatedAt": "2026-03-25T04:27:38.277Z",
              "createdAt": "2026-02-10T07:48:45.501Z",
              "id": "6bd45f76-307d-46fb-be47-d711e31203fb",
              "email": "edwinli1030@gmail.com",
              "firstName": "Edwin",
              "lastName": "Li",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-10T09:34:48.396Z",
                "personalization_survey_n8n_version": "2.6.4",
                "companyIndustryExtended": [
                  "marketing-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "automationGoalSm": [
                  "customer-communication",
                  "ad-campaign"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "R5YbC0UHAkpU0zBKm9tZw",
                "userActivatedAt": 1770830267292,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1774412857627
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-03-25T04:34:04.882Z",
    "createdAt": "2026-03-25T04:34:04.882Z",
    "versionId": "6b3219b3-ff8a-473f-ac25-9828c41f8dee",
    "workflowId": "6Ljih0hSKr9RpYNm",
    "nodes": [
      {
        "parameters": {
          "content": "### 🚀 【訂單核心處理引擎】\n\n**核心用途：** 接收並處理前端 Dashboard 送出的所有新訂單與修改請求。\n\n**主要功能：**\n1. **自主利潤稽核 (Profit Auditor)：** [V45 新增] 自動比對前台與後台財務定律，異常時觸發紅燈警報。\n2. **拆解子項目：** 將合併的訂單資料拆解為個別的品項紀錄。\n3. **成本匹配：** 根據「五維度邏輯」自動從資料庫匹配畫圖、取模與物流成本。\n4. **雙向同步：** 將資料精準寫入 Airtable (主表與子表)，支援 Upsert 避免重複。\n5. **Telegram 戰報：** 自動計算淨利潤並發送至老闆的手機。",
          "height": 312,
          "width": 550,
          "color": 1
        },
        "id": "9decd26c-07f2-4553-a1a7-8220dd9ea7fc",
        "name": "Workflow Description",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          30896,
          6848
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "body.Order_Items_List",
          "include": "allOtherFields",
          "options": {}
        },
        "id": "479490d0-f233-431f-951f-031122ebac84",
        "name": "Find Product ID",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          31088,
          7840
        ]
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "7620524971",
          "text": "=✅ 【Freehandsss {{ $json.Action === 'edit' ? '修正訂單' : ($json.Action === 'delete' ? '刪除通知' : '新訂單') }} 成功】\n------------------------\n👤 客人：{{ $json.Customer_Name }}\n📝 單號：{{ $json.Order_ID }}\n{{ $json.Update_Note ? '\\n🔄 更新摘要：' + $json.Update_Note + '\\n' : '' }}\n\n🛍️ 【訂單商品詳情】\n{{ $json.Order_Text }}\n\n💰 【財務核算】\n總入帳：${{ $json.Total_Revenue }}\n總成本：${{ $json.Total_Cost }}\n🏆 淨利潤：${{ $json.Final_Profit }}\n\n💡 系統提示：子項目已完美拆解並精準 Upsert 至 Airtable！",
          "replyMarkup": "none",
          "additionalFields": {}
        },
        "id": "c87bd1f1-c7db-41ff-aef5-c4ceb6b02e17",
        "name": "Send Profit Report",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          32048,
          7664
        ],
        "webhookId": "4f286124-f5ee-411b-851f-9dd83e1fc318",
        "credentials": {
          "telegramApi": {
            "id": "tSbXz97PKmdPpDNq",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "airtableTokenApi",
          "resource": "record",
          "operation": "upsert",
          "base": {
            "__rl": true,
            "value": "app9GuLsW9frN4xaT",
            "mode": "list"
          },
          "table": {
            "__rl": true,
            "value": "tbljkptnNcUEyDRFH",
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Product_Link": "={{ [$json.Product_ID] }}",
              "Quantity": "={{ Number($json.Quantity) }}",
              "Engraving_Text": "={{ $json.Notes }}",
              "Order_Link": "={{ [$json.Main_Order_ID] }}",
              "Order_Item_Key": "={{ $json.Order_Item_Key }}"
            },
            "matchingColumns": [
              "Order_Item_Key"
            ]
          },
          "options": {
            "typecast": true
          }
        },
        "id": "895c1914-7705-49cc-bdfa-409ddee285c1",
        "name": "Create Sub Items",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          31616,
          7648
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "lON99lpYk558mFdA",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// 1. 抓取剛剛建好的「主訂單 ID」\nconst recordId = $input.first().json.id;\n\n// 2. 獲取打包好的子項目清單\nconst subItems = $('Calculate Profit & Pack Items').first().json.Sub_Items || [];\n\n// 3. 轉換為 n8n 資料格式\nreturn subItems.map(item => ({\n  json: {\n    Product_ID: item.Product_Record_ID,\n    Quantity: item.Quantity,\n    Notes: item.Notes,\n    Main_Order_ID: recordId,\n    Order_Item_Key: item.Order_Item_Key\n  }\n}));",
          "notice": ""
        },
        "id": "f2fe8818-c460-4ba8-94bb-0be673a85c91",
        "name": "Bind Main Order ID",
        "type": "n8n-nodes-base.code",
        "position": [
          31408,
          7648
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "authentication": "airtableTokenApi",
          "resource": "record",
          "operation": "upsert",
          "base": {
            "__rl": true,
            "value": "app9GuLsW9frN4xaT",
            "mode": "list"
          },
          "table": {
            "__rl": true,
            "value": "tbltCH0I9fknVCtmV",
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Order_ID": "={{ $json.Order_ID }}",
              "Customer_Name": "={{ $json.Customer_Name }}",
              "Deposit": "={{ $json.Deposit }}",
              "Balance": "={{ $json.Balance }}",
              "Additional_Fee": "={{ $json.Additional_Fee }}",
              "Final_Sale_Price": "={{ $json.Total_Revenue }}",
              "Total_Cost": "={{ $json.Total_Cost }}",
              "Net_Profit": "={{ $json.Final_Profit }}",
              "Full_Order_Text": "={{ $json.Order_Text }}",
              "Raw_Form_State": "={{ $json.Raw_Form_State }}",
              "Appointment_Date": "={{ $json.Appointment_Date }}",
              "Order_Confirm_Date": "={{ $json.Order_Confirm_Date || null }}"
            },
            "matchingColumns": [
              "Order_ID"
            ]
          },
          "options": {
            "typecast": true
          }
        },
        "id": "a702631d-a2f5-4553-9ed2-33a5449397ba",
        "name": "Create Main Order",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          31840,
          7744
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "lON99lpYk558mFdA",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// API V40.5 協議：批量收集 SKU (安全重生版)\nconst items = $input.all();\n\n// 強制數組檢查與防禦\nif (!Array.isArray(items) || items.length === 0) {\n    return { json: { batchFormula: \"RECORD_ID()='INVALID'\", hasItems: false } };\n}\n\nconst skus = [...new Set(items.map(i => i.json.Search_SKU).filter(s => s && s !== \"無商品\"))];\n\nif (skus.length === 0) {\n    return { json: { batchFormula: \"RECORD_ID()='INVALID'\", hasItems: false } };\n}\n\nconst formulaParts = skus.map(s => `{Product_Name} = '${s}'`);\nconst finalFormula = skus.length > 1 ? `OR(${formulaParts.join(',')})` : formulaParts[0];\n\nreturn { json: { batchFormula: finalFormula, hasItems: true } };",
          "notice": ""
        },
        "id": "94d1c0c0-5cd8-460c-be20-e3b328ccf8db",
        "name": "Batch SKU Collector",
        "type": "n8n-nodes-base.code",
        "position": [
          31616,
          7424
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "authentication": "airtableTokenApi",
          "resource": "record",
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "app9GuLsW9frN4xaT",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "tblC3HDJAz9W0OF6R",
            "mode": "id"
          },
          "filterByFormula": "={{ $json.batchFormula }}",
          "returnAll": true,
          "options": {},
          "sort": {}
        },
        "id": "503014ba-a49f-4388-9c44-3ef56f5ff4dd",
        "name": "Fetch Exact Base Cost",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          31824,
          7424
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "lON99lpYk558mFdA",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// API V40.5 協議：本地數據映射 Mapping (存活定律版)\nconst costNode = $(\"Fetch Exact Base Cost\");\nconst originalItemsNode = $(\"Parse Items & Generate SKU\");\n\n// 確保節點存在且有資料，否則安全回退\nconst costResults = costNode ? costNode.all() : [];\nconst originalItems = originalItemsNode ? originalItemsNode.all() : [];\n\nconst costMap = {};\ncostResults.forEach(r => {\n    if (r.json && r.json.id) {\n        costMap[r.json.Product_Name] = {\n            id: r.json.id,\n            Product_Name: r.json.Product_Name,\n            Total_Base_Cost: Number(r.json.Total_Base_Cost) || 0\n        };\n    }\n});\n\nreturn originalItems.map(item => {\n    const sku = item.json.Search_SKU;\n    // 實裝 Section 14.5 數據映射存活定律：找不到成本則預設為 0\n    const costData = costMap[sku] || { id: null, Product_Name: sku, Total_Base_Cost: 0 };\n    return {\n        json: {\n            ...item.json,\n            ...costData\n        }\n    };\n});",
          "notice": ""
        },
        "id": "bcf44653-be85-445b-ad3b-275eb11e1f1c",
        "name": "Local Data Mapper",
        "type": "n8n-nodes-base.code",
        "position": [
          32016,
          7424
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// === Freehandsss V40.5 (安全重生版): 大腦 2 號 (利潤精算 - 並將子項目打包) ===\n\nconst parseNode = $('Parse Items & Generate SKU');\nconst parseNodeItems = parseNode ? parseNode.all() : [];\n\nif (parseNodeItems.length === 0) {\n    // 根本性防禦：如果連初始解析都沒有，傳回基本的空 payload 避免當機\n    return [{ json: { Total_Revenue: 0, Total_Cost: 0, Final_Profit: 0, Sub_Items: [] } }];\n}\n\nconst firstNodeData = parseNodeItems[0].json || {};\nconst totalRevenue = Number(firstNodeData.Total_Revenue) || 0;\nconst rawFormState = firstNodeData.Raw_Form_State || \"\";\n\nlet deposit = 0;\nlet balance = 0;\nlet additionalFee = 0;\n\ntry {\n    const triggerNode = $('Receive Dashboard Order');\n    const triggerBody = (triggerNode && triggerNode.first()) ? (triggerNode.first().json.body || triggerNode.first().json) : {};\n    deposit = Number(triggerBody.Deposit) || 0;\n    balance = Number(triggerBody.Balance) || 0;\n    additionalFee = Number(triggerBody.Additional_Fee) || 0;\n} catch (error) { }\n\nlet totalBaseCost = 0;\nlet packedItems = [];\n\nconst items = $input.all(); \nfor (let i = 0; i < parseNodeItems.length; i++) {\n    // 終極防禦機制：當 $input 找不到對應 item 時安全回退，避免 Cannot read properties of undefined\n    let originalItemData = parseNodeItems[i].json || {};\n    let itemData = (items[i] && items[i].json) ? items[i].json : originalItemData;\n\n    let itemCost = Number(itemData.Total_Base_Cost) || 0;\n    totalBaseCost += itemCost;\n\n    packedItems.push({\n        Product_Record_ID: itemData.id || null, \n        Product_Name: itemData.Product_Name || originalItemData.Search_SKU || \"Unknown SKU\",\n        Total_Base_Cost: itemCost,\n        Quantity: Number(originalItemData.Original_Qty) || 1,\n        Notes: originalItemData.Item_Notes || \"\",\n        Order_Item_Key: originalItemData.Order_Item_Key || \"\"\n    });\n}\n\nconst finalProfit = totalRevenue - totalBaseCost;\n\nreturn [{\n    json: {\n        ...firstNodeData,              \n        Total_Revenue: totalRevenue,   \n        Total_Cost: totalBaseCost,     \n        Final_Profit: finalProfit,     \n        Deposit: deposit,              \n        Balance: balance,              \n        Additional_Fee: additionalFee, \n        Raw_Form_State: rawFormState,\n        Sub_Items: packedItems         \n    }\n}];",
          "notice": ""
        },
        "id": "7ffb2baa-8f1d-4ec9-bb52-b4ad3c61f98d",
        "name": "Calculate Profit & Pack Items",
        "type": "n8n-nodes-base.code",
        "position": [
          32224,
          7424
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "1444800b-1397-4154-b2da-a4d328c6c51b",
          "authentication": "none",
          "responseMode": "onReceived",
          "contentTypeNotice": "",
          "options": {}
        },
        "id": "5e776f97-bd51-4632-a729-0454e9c84a99",
        "name": "Receive Dashboard Order",
        "type": "n8n-nodes-base.webhook",
        "position": [
          30960,
          7424
        ],
        "typeVersion": 2.1,
        "webhookId": "b2429fcb-502e-407f-be70-7318b774d689"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// === V45.7.4 Parse Items & Generate SKU (SKU Normalization Layer) ===\nconst body = $(\"Receive Dashboard Order\").first().json.body || $(\"Receive Dashboard Order\").first().json;\nconst orderId = body.Order_ID || \"未命名\";\nconst customer = body.Customer_Name || \"未命名\";\nconst appDate = body.Appointment_Date || null;\nconst revenue = (body.Deposit || 0) + (body.Balance || 0) + (body.Additional_Fee || 0);\nconst rawText = body.Full_Order_Text || \"\";\nconst rawState = body.Raw_Form_State || \"\";\n\nlet outputItems = [];\n\n// V45.7.4: Support both Order_Items_List (Dashboard) and Items (legacy/test)\nconst itemsList = body.Order_Items_List || body.Items;\n\nif (itemsList && Array.isArray(itemsList)) {\n    for (const item of itemsList) {\n        let sku = item.Product_Name || \"\";\n        const qty = Number(item.Quantity) || 1;\n\n        // === 1. 3D Display SKU Normalization (Bible V3.7 Section 4) ===\n        if (sku.includes(\"木框\")) {\n            let limb = (sku.includes(\"4肢\") || sku.includes(\"3肢\")) ? \"(4肢)\" : \"(2肢)\";\n            sku = `木框套裝 ${limb}`;\n        } else if (sku.includes(\"玻璃瓶\")) {\n            let limb = (sku.includes(\"4肢\") || sku.includes(\"3肢\")) ? \"(4肢)\" : \"(2肢)\";\n            sku = `玻璃瓶套裝 ${limb}`;\n        }\n\n        // === 2. Keychain SKU Normalization ===\n        if (sku.includes(\"鎖匙扣\") && item.Mode) {\n            sku = `${sku} - ${qty}飾 ${item.Mode}`;\n        }\n\n        // === 3. Jewelry/Charm SKU Normalization ===\n        if (sku.includes(\"吊飾\") && item.Mode) {\n            sku = `${sku} - ${qty}飾 ${item.Mode}`;\n        }\n\n        let shipping_saved = (sku.includes(\"鎖匙扣\") && qty > 1) ? (qty - 1) * 20 : 0;\n        let necklace_saved = (sku.includes(\"吊飾\")) ? Math.floor(qty / 2) * 220 : 0;\n\n        outputItems.push({\n            json: {\n                Order_ID: orderId,\n                Customer_Name: customer,\n                Appointment_Date: appDate,\n                Total_Revenue: revenue,\n                Order_Text: rawText,\n                Raw_Form_State: rawState,\n                Search_SKU: sku,\n                Original_Qty: qty,\n                Item_Notes: item.Notes || \"\",\n                Order_Item_Key: item.Order_Item_Key || \"\",\n                Shipping_Deduction: shipping_saved,\n                Necklace_Deduction: necklace_saved\n            }\n        });\n    }\n} else {\n    outputItems.push({ json: { Order_ID: orderId, Customer_Name: customer, Total_Revenue: revenue, Order_Text: rawText, Raw_Form_State: rawState, Search_SKU: \"無商品\", Shipping_Deduction: 0, Necklace_Deduction: 0 }});\n}\nreturn outputItems;",
          "notice": ""
        },
        "id": "97e25cdd-619b-4033-b189-8f2fbb654ac4",
        "name": "Parse Items & Generate SKU",
        "type": "n8n-nodes-base.code",
        "position": [
          31184,
          7424
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Profit Auditor V45.8 - Anti-Loss Guard\n// Business logic: Ling Au sets prices manually; system price is reference only.\n// Audit purpose: only alert if actual collected < system cost (selling at a loss)\nconst body = $(\"Receive Dashboard Order\").first().json.body || $(\"Receive Dashboard Order\").first().json;\n\nconst deposit       = Number(body.Deposit)           || 0;\nconst balance       = Number(body.Balance)           || 0;\nconst additionalFee = Number(body.Additional_Fee)    || 0;\nconst actualTotal   = deposit + balance + additionalFee;\nconst systemCost    = Number(body.System_Total_Cost) || 0;\n\nlet auditResults = {\n    auditPassed: true,\n    systemCost:  systemCost,\n    actualTotal: actualTotal,\n    discrepancy: 0,\n    reasons:     [],\n    orderId:     body.Order_ID      || \"Unknown\",\n    customer:    body.Customer_Name || \"Unknown\",\n    role:        body.Role          || \"ling\"\n};\n\n// Only audit when both values are meaningful (skip if no payment entered yet)\nif (actualTotal > 0 && systemCost > 0) {\n    if (actualTotal < systemCost) {\n        const diff = systemCost - actualTotal;\n        auditResults.auditPassed = false;\n        auditResults.discrepancy = diff;\n        auditResults.reasons.push(`At-a-loss alert: collected $${actualTotal}, cost $${systemCost}, gap $${diff}`);\n    }\n}\n\nreturn [{ json: auditResults }];",
          "notice": ""
        },
        "id": "008aca1b-15c9-43c9-a861-e8c602fcded3",
        "name": "Profit Auditor",
        "type": "n8n-nodes-base.code",
        "position": [
          30816,
          7216
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "mode": "rules",
          "dataType": "boolean",
          "value1": "={{ $json.auditPassed }}",
          "rules": {
            "rules": [
              {
                "operation": "equal",
                "value2": false,
                "output": 0
              }
            ]
          },
          "fallbackOutput": 1
        },
        "id": "e6bc9cd3-a6ba-4574-9adf-b9a1d35afa9f",
        "name": "Auditor Logic Switch",
        "type": "n8n-nodes-base.switch",
        "position": [
          31024,
          7200
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "7620524971",
          "text": "=🚨 【財務稽核異常警報】 🚨\n單號：{{ $json.orderId }}\n原因：稽核未通過！",
          "replyMarkup": "none",
          "additionalFields": {}
        },
        "id": "e1c41995-b56d-48a2-96c0-798dece625b0",
        "name": "Auditor Alert",
        "type": "n8n-nodes-base.telegram",
        "position": [
          31232,
          7200
        ],
        "typeVersion": 1.2,
        "webhookId": "87d23371-1560-4e1b-91e6-79c0e702dc7c",
        "credentials": {
          "telegramApi": {
            "id": "tSbXz97PKmdPpDNq",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "filePath": ".n8n/data/products.json",
          "dataPropertyName": "data"
        },
        "id": "95b15b0c-5474-4074-acf6-84956f195e3c",
        "name": "Read Cache File",
        "type": "n8n-nodes-base.readBinaryFile",
        "position": [
          31728,
          7248
        ],
        "typeVersion": 1,
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// V47.1 Fix: Disable stale zero-cost cache, always fetch fresh from Airtable\nconst batchItems = $(\"Batch SKU Collector\").all();\n\n// Cache disabled - NAS cache has Total_Base_Cost=0 (stale data)\n// Always force cache miss so Fetch Exact Base Cost runs and gets correct costs\nreturn batchItems.map(item => ({\n  json: { ...item.json, useCache: false }\n}));",
          "notice": ""
        },
        "id": "2bb644ad-7b4c-456e-884a-e2cbfd09a10e",
        "name": "Smart Cache Strategist",
        "type": "n8n-nodes-base.code",
        "position": [
          31920,
          7248
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "mode": "rules",
          "dataType": "string",
          "value1": "={{ $json.useCache === true ? 'yes' : 'no' }}",
          "rules": {
            "rules": [
              {
                "operation": "equal",
                "value2": "yes",
                "output": 0
              }
            ]
          },
          "fallbackOutput": 1
        },
        "id": "99e0b047-9bbe-4619-905c-b0d250d1a11a",
        "name": "Cache Hit?",
        "type": "n8n-nodes-base.switch",
        "position": [
          32128,
          7248
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "authentication": "airtableTokenApi",
          "resource": "record",
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "app9GuLsW9frN4xaT",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "tbltCH0I9fknVCtmV",
            "mode": "id"
          },
          "filterByFormula": "={{ \"TRIM({Order_ID}) = '\" + $json.Order_ID + \"'\" }}",
          "returnAll": false,
          "limit": 100,
          "options": {},
          "sort": {}
        },
        "id": "8a497284-6a00-4a42-8501-749bd67250a2",
        "name": "Search Record to Delete",
        "type": "n8n-nodes-base.airtable",
        "position": [
          31504,
          7232
        ],
        "typeVersion": 2.1,
        "credentials": {
          "airtableTokenApi": {
            "id": "lON99lpYk558mFdA",
            "name": "Airtable Personal Access Token account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "authentication": "airtableTokenApi",
          "operation": "deleteRecord",
          "base": {
            "__rl": true,
            "value": "app9GuLsW9frN4xaT",
            "mode": "list"
          },
          "table": {
            "__rl": true,
            "value": "tbltCH0I9fknVCtmV",
            "mode": "list"
          },
          "id": "={{ $json.id }}"
        },
        "id": "0a4b6ceb-ef50-41cb-a7af-d8f8ffc525cc",
        "name": "Delete Record",
        "type": "n8n-nodes-base.airtable",
        "position": [
          31712,
          7056
        ],
        "typeVersion": 2.1,
        "credentials": {
          "airtableTokenApi": {
            "id": "lON99lpYk558mFdA",
            "name": "Airtable Personal Access Token account"
          }
        },
        "issues": {
          "parameters": {
            "id": [
              "Parameter \"Record ID\" is required."
            ]
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "7620524971",
          "text": "=🗑️ 【訂單已徹底刪除】\n單號：{{ $('Input Normalizer').item.json.Order_ID || '(已刪除)' }}\n客人：{{ $('Input Normalizer').item.json.Customer_Name || '(未知)' }}",
          "replyMarkup": "none",
          "additionalFields": {}
        },
        "id": "c417aea1-e0f2-45dc-92da-d5302070b899",
        "name": "Notify Telegram (Delete)",
        "type": "n8n-nodes-base.telegram",
        "position": [
          32000,
          7072
        ],
        "typeVersion": 1.2,
        "webhookId": "2f0ff02a-880d-4042-a9e2-7b4054da2281",
        "credentials": {
          "telegramApi": {
            "id": "tSbXz97PKmdPpDNq",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// V47 Input Normalizer - single output\nconst input = $input.all()[0].json;\nconst rawPayload = (input.body !== undefined) ? input.body : input;\nconst body = Array.isArray(rawPayload) ? (rawPayload[0] || {}) : rawPayload;\nconst action = (body.action || body.Action || input.action || input.Action || \"create\").toLowerCase();\nreturn [{\n  json: {\n    ...input,\n    action: action,\n    isDelete: (action === 'delete'),\n    Record_ID: body.Record_ID || body.id || input.Record_ID || \"\",\n    Order_ID: body.Order_ID || input.Order_ID || \"\",\n    Customer_Name: body.Customer_Name || input.Customer_Name || \"\"\n  }\n}];",
          "notice": ""
        },
        "id": "1a7ade1b-fa1f-4ff0-9500-29c5919d1d6b",
        "name": "Input Normalizer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          31184,
          7680
        ]
      },
      {
        "parameters": {
          "mode": "rules",
          "dataType": "string",
          "value1": "={{ $json.action }}",
          "rules": {
            "rules": [
              {
                "operation": "equal",
                "value2": "delete",
                "output": 0
              }
            ]
          },
          "fallbackOutput": 1
        },
        "id": "23a75050-1f12-463b-846c-6765807953d1",
        "name": "Switch Action",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          31392,
          7408
        ]
      }
    ],
    "connections": {
      "Receive Dashboard Order": {
        "main": [
          [
            {
              "node": "Input Normalizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Profit Auditor": {
        "main": [
          [
            {
              "node": "Auditor Logic Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auditor Logic Switch": {
        "main": [
          [
            {
              "node": "Auditor Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Items & Generate SKU": {
        "main": [
          [
            {
              "node": "Batch SKU Collector",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Batch SKU Collector": {
        "main": [
          [
            {
              "node": "Read Cache File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Exact Base Cost": {
        "main": [
          [
            {
              "node": "Local Data Mapper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Local Data Mapper": {
        "main": [
          [
            {
              "node": "Calculate Profit & Pack Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Profit & Pack Items": {
        "main": [
          [
            {
              "node": "Create Main Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Main Order": {
        "main": [
          [
            {
              "node": "Bind Main Order ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bind Main Order ID": {
        "main": [
          [
            {
              "node": "Create Sub Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Sub Items": {
        "main": [
          [
            {
              "node": "Send Profit Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Cache File": {
        "main": [
          [
            {
              "node": "Smart Cache Strategist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Smart Cache Strategist": {
        "main": [
          [
            {
              "node": "Fetch Exact Base Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cache Hit?": {
        "main": [
          [
            {
              "node": "Calculate Profit & Pack Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Exact Base Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Record to Delete": {
        "main": [
          [
            {
              "node": "Delete Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Record": {
        "main": [
          [
            {
              "node": "Notify Telegram (Delete)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Input Normalizer": {
        "main": [
          [
            {
              "node": "Switch Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Action": {
        "main": [
          [
            {
              "node": "Search Record to Delete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Profit Auditor",
              "type": "main",
              "index": 0
            },
            {
              "node": "Parse Items & Generate SKU",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Edwin Li",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-25T04:34:32.293Z",
        "id": 234,
        "workflowId": "6Ljih0hSKr9RpYNm",
        "versionId": "6b3219b3-ff8a-473f-ac25-9828c41f8dee",
        "event": "activated",
        "userId": "6bd45f76-307d-46fb-be47-d711e31203fb"
      }
    ]
  },
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:update"
  ],
  "checksum": "b0e189350ee558083bd7c8ea063adf18d81a04276789f725c42b1ef7d892c4bd"
}