n8n/FHS_Financial_Overview_workflow.json
{
  "name": "FHS_Financial_Overview",
  "nodes": [
    {
      "id": "576cd4ba-ffa2-47aa-9a35-e69c1df86845",
      "parameters": {
        "httpMethod": "GET",
        "path": "financial-overview-fhs",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "FO Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "c8ab5056-0650-4392-8ee0-62137dd3a2a1"
    },
    {
      "id": "de407ca4-9d24-470a-a6d9-fb3c680aeaeb",
      "parameters": {
        "operation": "search",
        "base": {
          "value": "app9GuLsW9frN4xaT",
          "mode": "id"
        },
        "table": {
          "value": "tbltCH0I9fknVCtmV",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "name": "Fetch All Main Orders",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "id": "4054076a-cef0-409b-b77f-058dd4210610",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst mainOrders = items.map(i => i.json.fields || i.json);\nreturn [{json: {mainOrders}}];"
      },
      "name": "Collect Main Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "id": "8d2da0ba-c7f5-43a2-89fb-fcef23ab47b0",
      "parameters": {
        "operation": "search",
        "base": {
          "value": "app9GuLsW9frN4xaT",
          "mode": "id"
        },
        "table": {
          "value": "tbljkptnNcUEyDRFH",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "name": "Fetch All Order Items",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "id": "fc6f4d84-5f56-4756-8cfc-d5f4b02e5058",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst orderItems = items.map(i => i.json.fields || i.json);\nconst mainOrders = $('Collect Main Orders').first().json.mainOrders || [];\nreturn [{json: {mainOrders, orderItems}}];"
      },
      "name": "Merge Datasets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "id": "6b895cf9-18d8-4504-ab4b-ef00b33dce60",
      "parameters": {
        "jsCode": "const axios = require('axios');\nconst SUPABASE_URL = 'https://vpmwizzixnwilmzctdvu.supabase.co';\nconst SUPABASE_KEY = (typeof process !== 'undefined' && process.env && process.env.SUPABASE_SERVICE_KEY) || 'sb_secret_EXq938yU-MinIxdpOc0nZg_qL-N3BCq';\nconst resp = await axios.post(\n  `${SUPABASE_URL}/rest/v1/rpc/get_financial_overview_full`,\n  {},\n  { headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' }, timeout: 15000 }\n);\nreturn [{ json: resp.data }];\n"
      },
      "name": "Financial Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "id": "a4c1981b-e3ef-4a68-8127-5a742bc4bf13",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "name": "Respond with JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const axios = require('axios');\nconst SUPABASE_URL = 'https://vpmwizzixnwilmzctdvu.supabase.co';\nconst SUPABASE_KEY = (typeof process !== 'undefined' && process.env && process.env.SUPABASE_SERVICE_KEY) || 'sb_secret_EXq938yU-MinIxdpOc0nZg_qL-N3BCq';\nconst PAGE_SIZE = 1000;\nlet all = [];\nlet offset = 0;\nwhile (true) {\n  const resp = await axios.get(\n    `${SUPABASE_URL}/rest/v1/orders?select=order_id,appointment_at,final_sale_price,total_cost,net_profit&deleted_at=is.null&order=id.asc&limit=${PAGE_SIZE}&offset=${offset}`,\n    { headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` }, timeout: 15000 }\n  );\n  const rows = resp.data || [];\n  all = all.concat(rows);\n  if (rows.length < PAGE_SIZE) break;\n  offset += PAGE_SIZE;\n}\nreturn all.map(r => ({\n  json: {\n    order_id: r.order_id,\n    Appointment_Date: r.appointment_at,\n    Final_Sale_Price: Number(r.final_sale_price) || 0,\n    Total_Cost: Number(r.total_cost) || 0,\n    Net_Profit: Number(r.net_profit) || 0\n  }\n}));\n",
        "notice": ""
      },
      "id": "a1b1c1d1-e1f1-4111-8111-911111111111",
      "name": "Fetch Orders (Supabase)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        150
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const axios = require('axios');\nconst SUPABASE_URL = 'https://vpmwizzixnwilmzctdvu.supabase.co';\nconst SUPABASE_KEY = (typeof process !== 'undefined' && process.env && process.env.SUPABASE_SERVICE_KEY) || 'sb_secret_EXq938yU-MinIxdpOc0nZg_qL-N3BCq';\nconst PAGE_SIZE = 1000;\n\nconst mainOrders = $('Collect Main Orders').first().json.mainOrders || [];\nconst orderIds = mainOrders.map(o => o.order_id).filter(Boolean);\n\nif (orderIds.length === 0) {\n  return [];\n}\n\nconst idList = orderIds.map(id => `\"${id}\"`).join(',');\nlet all = [];\nlet offset = 0;\nwhile (true) {\n  const resp = await axios.get(\n    `${SUPABASE_URL}/rest/v1/order_items?select=product_sku,quantity&order_fhs_id=in.(${idList})&order=id.asc&limit=${PAGE_SIZE}&offset=${offset}`,\n    { headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` }, timeout: 15000 }\n  );\n  const rows = resp.data || [];\n  all = all.concat(rows);\n  if (rows.length < PAGE_SIZE) break;\n  offset += PAGE_SIZE;\n}\nreturn all.map(r => ({\n  json: {\n    Product_Link: r.product_sku,\n    Quantity: r.quantity\n  }\n}));\n",
        "notice": ""
      },
      "id": "a2b2c2d2-e2f2-4222-8222-922222222222",
      "name": "Fetch Items (Supabase)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        150
      ]
    }
  ],
  "connections": {
    "FO Webhook": {
      "main": [
        [
          {
            "node": "Financial Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Main Orders": {
      "main": [
        [
          {
            "node": "Fetch Items (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Datasets": {
      "main": [
        [
          {
            "node": "Financial Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Aggregator": {
      "main": [
        [
          {
            "node": "Respond with JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Orders (Supabase)": {
      "main": [
        [
          {
            "node": "Collect Main Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Items (Supabase)": {
      "main": [
        [
          {
            "node": "Merge Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}