n8n/archive/zombies-2026-07-16/U7kkzoetrPD5cINr__FHS_Core_OrderProcessor1.json
{
  "updatedAt": "2026-03-21T15:18:04.000Z",
  "createdAt": "2026-03-09T17:48:52.050Z",
  "id": "U7kkzoetrPD5cINr",
  "name": "FHS_Core_OrderProcessor1",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "content": "### 🚀 【訂單核心處理引擎】\n\n**核心用途：** 接收並處理前端 Dashboard 送出的所有新訂單與修改請求。\n\n**主要功能：**\n1. **自主利潤稽核 (Profit Auditor)：** [V45 新增] 自動比對前台與後台財務定律，異常時觸發紅燈警報。\n2. **拆解子項目：** 將合併的訂單資料拆解為個別的品項紀錄。\n3. **成本匹配：** 根據「五維度邏輯」自動從資料庫匹配畫圖、取模與物流成本。\n4. **雙向同步：** 將資料精準寫入 Airtable (主表與子表)，支援 Upsert 避免重複。\n5. **Telegram 戰報：** 自動計算淨利潤並發送至老闆的手機。",
        "height": 280,
        "width": 550
      },
      "id": "eda93245-ca86-4fff-bc3b-04ffa6022a2a",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6320,
        912
      ]
    },
    {
      "parameters": {
        "chatId": "7620524971",
        "text": "=✅ 【Freehandsss {{ $('Calculate Profit & Pack Items').first().json.Action === 'edit' ? '修正訂單' : '新訂單' }} 成功】\n------------------------\n👤 客人：{{ $('Calculate Profit & Pack Items').first().json.Customer_Name }}\n📝 單號：{{ $('Calculate Profit & Pack Items').first().json.Order_ID }}\n{{ $('Calculate Profit & Pack Items').first().json.Update_Note ? '\\n🔄 更新摘要：' + $('Calculate Profit & Pack Items').first().json.Update_Note + '\\n' : '' }}\n\n🛍️ 【訂單商品詳情】\n{{ $('Calculate Profit & Pack Items').first().json.Order_Text }}\n\n💰 【財務核算】\n總入帳：${{ $('Calculate Profit & Pack Items').first().json.Total_Revenue }}\n總成本：${{ $('Calculate Profit & Pack Items').first().json.Total_Cost }}\n🏆 淨利潤：${{ $('Calculate Profit & Pack Items').first().json.Final_Profit }}\n\n💡 系統提示：子項目已完美拆解並精準 Upsert 至 Airtable！",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6688,
        1472
      ],
      "id": "24b866ff-c03e-41e0-bcb0-4e6feae5f2f2",
      "name": "Send Profit Report",
      "webhookId": "a53f87ee-99c3-42e1-b4e5-f98060758559",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "tSbXz97PKmdPpDNq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "list",
          "cachedResultName": "FHS_Order_Processor",
          "cachedResultUrl": "https://airtable.com/app9GuLsW9frN4xaT"
        },
        "table": {
          "__rl": true,
          "value": "tbljkptnNcUEyDRFH",
          "mode": "list",
          "cachedResultName": "Order_Items",
          "cachedResultUrl": "https://airtable.com/app9GuLsW9frN4xaT/tbljkptnNcUEyDRFH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product_Link": "={{ [$json.Product_ID] }}",
            "Quantity": "={{ Number($json.Quantity) }}",
            "Engraving_Text": "={{ $json.Notes }}",
            "Order_Link": "={{ [$json.Main_Order_ID] }}",
            "Order_Item_Key": "={{ $json.Order_Item_Key }}"
          },
          "matchingColumns": [
            "Order_Item_Key"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        6480,
        1472
      ],
      "id": "26e6eba7-297d-45f6-bd0b-c179e5847c0b",
      "name": "Create Sub Items",
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 抓取剛剛建好的「主訂單 ID」\nconst recordId = $input.first().json.id;\n\n// 2. 獲取打包好的子項目清單\nconst subItems = $('Calculate Profit & Pack Items').first().json.Sub_Items || [];\n\n// 3. 轉換為 n8n 資料格式\nreturn subItems.map(item => ({\n  json: {\n    Product_ID: item.Product_Record_ID,\n    Quantity: item.Quantity,\n    Notes: item.Notes,\n    Main_Order_ID: recordId,\n    Order_Item_Key: item.Order_Item_Key\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6272,
        1472
      ],
      "id": "7c9bcccd-bac8-4de4-9a04-8358ef8db405",
      "name": "Bind Main Order ID"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "list",
          "cachedResultName": "FHS_Order_Processor",
          "cachedResultUrl": "https://airtable.com/app9GuLsW9frN4xaT"
        },
        "table": {
          "__rl": true,
          "value": "tbltCH0I9fknVCtmV",
          "mode": "list",
          "cachedResultName": "Main_Orders",
          "cachedResultUrl": "https://airtable.com/app9GuLsW9frN4xaT/tbltCH0I9fknVCtmV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_ID": "={{ $json.Order_ID }}",
            "Customer_Name": "={{ $json.Customer_Name }}",
            "Deposit": "={{ $json.Deposit }}",
            "Balance": "={{ $json.Balance }}",
            "Additional_Fee": "={{ $json.Additional_Fee }}",
            "Final_Sale_Price": "={{ $json.Total_Revenue }}",
            "Total_Cost": "={{ $json.Total_Cost }}",
            "Net_Profit": "={{ $json.Final_Profit }}",
            "Full_Order_Text": "={{ $json.Order_Text }}",
            "Raw_Form_State": "={{ $json.Raw_Form_State }}",
            "Appointment_Date": "={{ $json.Appointment_Date }}"
          },
          "matchingColumns": [
            "Order_ID"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        6064,
        1472
      ],
      "id": "1d9e6492-625d-4043-bd8a-647393e5e288",
      "name": "Create Main Order",
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// API V40.2 協議：批量收集 SKU\nconst items = $input.all();\nconst skus = [...new Set(items.map(i => i.json.Search_SKU).filter(s => s && s !== \"無商品\"))];\n\nif (skus.length === 0) {\n    return { json: { batchFormula: \"RECORD_ID()='INVALID'\", hasItems: false } };\n}\n\nconst formulaParts = skus.map(s => `{Product_Name} = '${s}'`);\nconst finalFormula = skus.length > 1 ? `OR(${formulaParts.join(',')})` : formulaParts[0];\n\nreturn { json: { batchFormula: finalFormula, hasItems: true } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6480,
        1248
      ],
      "id": "6702c9cd-e074-40ef-806f-b97762a55831",
      "name": "Batch SKU Collector"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "list",
          "cachedResultName": "FHS_Order_Processor",
          "cachedResultUrl": "https://airtable.com/app9GuLsW9frN4xaT"
        },
        "table": {
          "__rl": true,
          "value": "tblC3HDJAz9W0OF6R",
          "mode": "list",
          "cachedResultName": "Product_Database",
          "cachedResultUrl": "https://airtable.com/app9GuLsW9frN4xaT/tblC3HDJAz9W0OF6R"
        },
        "filterByFormula": "={{ $json.batchFormula }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        6688,
        1248
      ],
      "id": "7991dee0-70d7-4a7b-8d71-61b549468b39",
      "name": "Fetch Exact Base Cost",
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// API V40.2 協議：本地數據映射 Mapping\nconst costResults = $(\"Fetch Exact Base Cost\").all();\nconst originalItems = $(\"Parse Items & Generate SKU\").all();\n\nconst costMap = {};\ncostResults.forEach(r => {\n    if (r.json.id) {\n        costMap[r.json.Product_Name] = {\n            id: r.json.id,\n            Product_Name: r.json.Product_Name,\n            Total_Base_Cost: r.json.Total_Base_Cost || 0\n        };\n    }\n});\n\nreturn originalItems.map(item => {\n    const sku = item.json.Search_SKU;\n    const costData = costMap[sku] || { id: null, Product_Name: sku, Total_Base_Cost: 0 };\n    return {\n        json: {\n            ...item.json,\n            ...costData\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6880,
        1248
      ],
      "id": "9abd1e0c-cea5-423a-acaf-813cd2d29a1a",
      "name": "Local Data Mapper"
    },
    {
      "parameters": {
        "jsCode": "// === Freehandsss V40.2: 大腦 2 號 (利潤精算 - 批量優化版) ===\n\nconst parseNodeItems = $('Parse Items & Generate SKU').all();\nconst firstNodeData = parseNodeItems[0].json;\nconst totalRevenue = firstNodeData.Total_Revenue || 0;\nconst rawFormState = firstNodeData.Raw_Form_State || \"\";\n\nlet deposit = 0;\nlet balance = 0;\nlet additionalFee = 0;\n\ntry {\n    const triggerBody = $('Receive Dashboard Order').first().json.body || $('Receive Dashboard Order').first().json;\n    deposit = triggerBody.Deposit || 0;\n    balance = triggerBody.Balance || 0;\n    additionalFee = triggerBody.Additional_Fee || 0;\n} catch (error) { }\n\nlet totalBaseCost = 0;\nlet packedItems = [];\n\nconst items = $input.all(); \nfor (let i = 0; i < items.length; i++) {\n    const itemData = items[i].json;\n    let itemCost = itemData.Total_Base_Cost || 0;\n    totalBaseCost += itemCost;\n\n    packedItems.push({\n        Product_Record_ID: itemData.id, \n        Product_Name: itemData.Product_Name || itemData.Search_SKU || \"Unknown SKU\",\n        Total_Base_Cost: itemCost,\n        Quantity: itemData.Original_Qty || 1,\n        Notes: itemData.Item_Notes || \"\",\n        Order_Item_Key: itemData.Order_Item_Key || \"\"\n    });\n}\n\nconst finalProfit = totalRevenue - totalBaseCost;\n\nreturn [{\n    json: {\n        ...firstNodeData,              \n        Total_Revenue: totalRevenue,   \n        Total_Cost: totalBaseCost,     \n        Final_Profit: finalProfit,     \n        Deposit: deposit,              \n        Balance: balance,              \n        Additional_Fee: additionalFee, \n        Raw_Form_State: rawFormState,\n        Sub_Items: packedItems         \n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7088,
        1248
      ],
      "id": "4a2f3982-dbc9-4be9-872b-3eeacecdaa95",
      "name": "Calculate Profit & Pack Items"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1444800b-1397-4154-b2da-a4d328c6c51b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5888,
        1248
      ],
      "id": "1cb54462-c449-4700-9468-0b650de83034",
      "name": "Receive Dashboard Order",
      "webhookId": "1444800b-1397-4154-b2da-a4d328c6c51b"
    },
    {
      "parameters": {
        "jsCode": "const body = $(\"Receive Dashboard Order\").first().json.body || $(\"Receive Dashboard Order\").first().json;\nconst orderId = body.Order_ID || \"未命名\";\nconst customer = body.Customer_Name || \"未命名\";\nconst appDate = body.Appointment_Date || null;\nconst revenue = (body.Deposit || 0) + (body.Balance || 0) + (body.Additional_Fee || 0);\nconst rawText = body.Full_Order_Text || \"\";\nconst rawState = body.Raw_Form_State || \"\";\n\nlet outputItems = [];\n\nif (body.Order_Items_List && Array.isArray(body.Order_Items_List)) {\n    for (const item of body.Order_Items_List) {\n        let sku = item.Product_Name;\n        if (item.Mode) sku = `${item.Product_Name} - ${item.Quantity}飾 ${item.Mode}`;\n\n        let shipping_saved = (sku.includes(\"鎖匙扣\") && item.Quantity > 1) ? (item.Quantity - 1) * 20 : 0;\n        let necklace_saved = (sku.includes(\"吊飾\")) ? Math.floor(item.Quantity / 2) * 220 : 0;\n\n        outputItems.push({\n            json: {\n                Order_ID: orderId,\n                Customer_Name: customer,\n                Appointment_Date: appDate,\n                Total_Revenue: revenue,\n                Order_Text: rawText,\n                Raw_Form_State: rawState,\n                Search_SKU: sku,\n                Original_Qty: item.Quantity,\n                Item_Notes: item.Notes || \"\",\n                Order_Item_Key: item.Order_Item_Key,\n                Shipping_Deduction: shipping_saved,\n                Necklace_Deduction: necklace_saved\n            }\n        });\n    }\n} else {\n    outputItems.push({ json: { Order_ID: orderId, Customer_Name: customer, Total_Revenue: revenue, Order_Text: rawText, Raw_Form_State: rawState, Search_SKU: \"無商品\", Shipping_Deduction: 0, Necklace_Deduction: 0 }});\n}\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6080,
        1248
      ],
      "id": "3d52ad9d-54b4-449d-8005-a478a683689e",
      "name": "Parse Items & Generate SKU"
    },
    {
      "parameters": {
        "jsCode": "const body = $(\"Receive Dashboard Order\").first().json.body || $(\"Receive Dashboard Order\").first().json;\nconst rawFormState = body.Raw_Form_State;\n\nlet auditResults = {\n    auditPassed: true,\n    theoreticalCost: 0,\n    discrepancy: 0,\n    reasons: [],\n    orderId: body.Order_ID || \"Unknown\",\n    customer: body.Customer_Name || \"Unknown\",\n    role: body.Role || \"ling\"\n};\n\nif (!rawFormState) {\n    return auditResults;\n}\n\ntry {\n    let state = rawFormState;\n    if (typeof rawFormState === 'string') {\n        state = JSON.parse(rawFormState);\n    }\n\n    let keychainCount = 0;\n    if (state.enableK) {\n        if (state.k_lh_en) keychainCount++;\n        if (state.k_rh_en) keychainCount++;\n        if (state.k_lf_en) keychainCount++;\n        if (state.k_rf_en) keychainCount++;\n    }\n} catch (e) {\n    auditResults.auditPassed = false;\n    auditResults.reasons.push(\"數據格式錯誤: \" + e.message);\n}\n\nreturn auditResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5680,
        1040
      ],
      "id": "0e718ec2-52ca-44ef-a23c-c961e5566ec5",
      "name": "Profit Auditor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeCast": false
          },
          "conditions": [
            {
              "id": "90962ae5-9bb0-4384-972a-609c1f61884b",
              "leftValue": "={{ $json.auditPassed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5888,
        1040
      ],
      "id": "4e333604-076e-4ecf-aa41-f5278c0dee07",
      "name": "Auditor Logic If"
    },
    {
      "parameters": {
        "chatId": "7620524971",
        "text": "=🚨 【財務稽核異常警報】 🚨\n系統偵測到前台計算與後台稽核不符！\n\n單號：{{ $node[\"Profit Auditor\"].json.orderId }}\n原因：{{ $node[\"Profit Auditor\"].json.reasons.join(\", \") }}\n\n請立即核對！",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6080,
        1040
      ],
      "id": "61b0617b-c9ad-409f-b5a0-c5bb8038a24e",
      "name": "Auditor Alert",
      "webhookId": "9c8c99a4-29ce-4b04-a47b-dcecfb90a223",
      "credentials": {
        "telegramApi": {
          "id": "tSbXz97PKmdPpDNq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Receive Dashboard Order": {
      "main": [
        [
          {
            "node": "Profit Auditor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Items & Generate SKU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profit Auditor": {
      "main": [
        [
          {
            "node": "Auditor Logic If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auditor Logic If": {
      "main": [
        [
          {
            "node": "Auditor Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Items & Generate SKU": {
      "main": [
        [
          {
            "node": "Batch SKU Collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch SKU Collector": {
      "main": [
        [
          {
            "node": "Fetch Exact Base Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Exact Base Cost": {
      "main": [
        [
          {
            "node": "Local Data Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Data Mapper": {
      "main": [
        [
          {
            "node": "Calculate Profit & Pack Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Profit & Pack Items": {
      "main": [
        [
          {
            "node": "Create Main Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Main Order": {
      "main": [
        [
          {
            "node": "Bind Main Order ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bind Main Order ID": {
      "main": [
        [
          {
            "node": "Create Sub Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sub Items": {
      "main": [
        [
          {
            "node": "Send Profit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "602854f2-f8b4-4335-ac80-bf01cb5b3e59",
  "activeVersionId": null,
  "versionCounter": 53,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-09T17:48:52.053Z",
      "createdAt": "2026-03-09T17:48:52.053Z",
      "role": "workflow:owner",
      "workflowId": "U7kkzoetrPD5cINr",
      "projectId": "PusL5vFUw7BMC2xH",
      "project": {
        "updatedAt": "2026-02-10T09:32:56.368Z",
        "createdAt": "2026-02-10T07:48:52.904Z",
        "id": "PusL5vFUw7BMC2xH",
        "name": "Edwin Li <edwinli1030@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6bd45f76-307d-46fb-be47-d711e31203fb",
        "projectRelations": [
          {
            "updatedAt": "2026-02-10T07:48:52.905Z",
            "createdAt": "2026-02-10T07:48:52.905Z",
            "userId": "6bd45f76-307d-46fb-be47-d711e31203fb",
            "projectId": "PusL5vFUw7BMC2xH",
            "user": {
              "updatedAt": "2026-07-16T01:05:57.000Z",
              "createdAt": "2026-02-10T07:48:45.501Z",
              "id": "6bd45f76-307d-46fb-be47-d711e31203fb",
              "email": "edwinli1030@gmail.com",
              "firstName": "Edwin",
              "lastName": "Li",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-10T09:34:48.396Z",
                "personalization_survey_n8n_version": "2.6.4",
                "companyIndustryExtended": [
                  "marketing-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "automationGoalSm": [
                  "customer-communication",
                  "ad-campaign"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "R5YbC0UHAkpU0zBKm9tZw",
                "userActivatedAt": 1770830267292,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1781854409855
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}