n8n/archive/zombies-2026-07-16/V74xrl6cZYZURJXl__Fetch_Global_Review.json
{
  "updatedAt": "2026-03-21T15:17:54.000Z",
  "createdAt": "2026-03-09T17:33:51.801Z",
  "id": "V74xrl6cZYZURJXl",
  "name": "Fetch_Global_Review",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "fetch-global-review",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "fb13535d-e1b0-440c-8df2-fa3ad1ded66d",
      "name": "Webhook (Fetch Review)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "fhs-fetch-global-review-v27"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.item.json.query || {};\nlet formulas = [];\nif (query.month && query.year) {\n    formulas.push(`DATETIME_FORMAT({Created_Time}, 'YYYY-MM') = '${query.year}-${query.month}'`);\n}\nif (query.status) {\n    formulas.push(`{Process_Status} = '${query.status}'`);\n}\nif (query.batch) {\n    formulas.push(`{Batch_Number} = '${query.batch}'`);\n}\nif (query.search) {\n    formulas.push(`OR(FIND('${query.search}', {Customer_Name}), FIND('${query.search}', {Order_ID}))`);\n}\n\nlet finalFormula = \"\";\nif (formulas.length > 0) {\n    finalFormula = `AND(${formulas.join(', ')})`;\n}\n\nreturn { json: { formula: finalFormula } };"
      },
      "id": "5457ac02-1f04-4ec1-8b54-53b09364d692",
      "name": "Build Formula",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbltCH0I9fknVCtmV",
          "mode": "id"
        },
        "filterByFormula": "={{ $json.formula }}",
        "options": {}
      },
      "id": "aa902142-4ea1-49a2-8b6c-99689dc05942",
      "name": "Search Main_Orders",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        400,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0 || !items[0].json.id) return { json: { success: true, count: 0, orders: [] } };\n\nconst mainOrders = items.map(item => {\n    const fields = item.json.fields || {};\n    return {\n        id: item.json.id,\n        Order_ID: fields.Order_ID,\n        Date: item.json.createdTime,\n        Customer: fields.Customer_Name,\n        Batch: fields.Batch_Number || '',\n        Status: fields.Process_Status || '0 什麼都未做',\n        Admin_Notes: fields.Admin_Notes || '',\n        Sales: fields.Final_Sale_Price || 0,\n        Cost: fields.Total_Cost || 0,\n        Net_Profit: fields.Net_Profit || 0,\n        Order_Items_Links: fields.Order_Items || []\n    };\n});\nreturn { json: { mainOrders } };"
      },
      "id": "cd1e024a-f634-4129-a169-ee24a285f17a",
      "name": "Format Main Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const mainOrders = $input.item.json.mainOrders || [];\nlet allSubItemIds = [];\nmainOrders.forEach(mo => {\n    if (mo.Order_Items_Links && mo.Order_Items_Links.length > 0) {\n        allSubItemIds = allSubItemIds.concat(mo.Order_Items_Links);\n    }\n});\n\nif (allSubItemIds.length === 0) {\n    return { json: { formula: \"\" } };\n}\n\n// We batch them if > 100, but usually for one view it's < 100 items.\nconst uniqueIds = [...new Set(allSubItemIds)];\nconst formulaParts = uniqueIds.map(id => `RECORD_ID()='${id}'`);\nlet chunks = [];\nfor (let i = 0; i < formulaParts.length; i+=50) {\n   chunks.push(`OR(${formulaParts.slice(i, i+50).join(',')})`);\n}\nlet finalFormula = chunks.length > 1 ? `OR(${chunks.join(',')})` : chunks[0];\nreturn { json: { formula: finalFormula, mainOrders } };"
      },
      "id": "5572a1a1-648e-48b8-af3a-5ae802c875d1",
      "name": "Build SubItems Formula",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbljkptnNcUEyDRFH",
          "mode": "id"
        },
        "filterByFormula": "={{ $json.formula }}",
        "options": {}
      },
      "id": "f4879c37-08da-41f4-8357-f234762cd4f1",
      "name": "Search Order_Items",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1008,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const subItemsData = $input.all();\nconst mainOrdersContext = $items(\"Build SubItems Formula\", 0, 0)[0].json.mainOrders;\n\n// Map subitems by ID\nconst subItemsMap = {};\nif (subItemsData.length > 0 && subItemsData[0].json.id) {\n    subItemsData.forEach(item => {\n        const fields = item.json.fields || {};\n        subItemsMap[item.json.id] = {\n            id: item.json.id,\n            Item_ID: fields.Item_ID,\n            Product: fields.Product_Link ? fields.Product_Link[0] : '', // Might need name instead of ID\n            Category: fields.Item_Category ? fields.Item_Category[0] : '',\n            Qty: fields.Quantity || 0,\n            BaseCost: fields.Item_BaseCost ? fields.Item_BaseCost[0] : 0,\n            Engraving: fields.Engraving_Text || '',\n            Specification: fields.Specification || ''\n        };\n    });\n}\n\n// Attach to main orders\nmainOrdersContext.forEach(mo => {\n    mo.items = [];\n    mo.Order_Items_Links.forEach(linkId => {\n        if (subItemsMap[linkId]) {\n            mo.items.push(subItemsMap[linkId]);\n        }\n    });\n});\n\nreturn { \n  json: { \n    success: true, \n    count: mainOrdersContext.length, \n    orders: mainOrdersContext \n  }\n};"
      },
      "id": "33fb224e-4665-450f-be82-5bd1e29b9a9f",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    }
  ],
  "connections": {
    "Webhook (Fetch Review)": {
      "main": [
        [
          {
            "node": "Build Formula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Formula": {
      "main": [
        [
          {
            "node": "Search Main_Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Main_Orders": {
      "main": [
        [
          {
            "node": "Format Main Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Main Orders": {
      "main": [
        [
          {
            "node": "Build SubItems Formula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SubItems Formula": {
      "main": [
        [
          {
            "node": "Search Order_Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Order_Items": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9d0a1303-b0ac-449b-8d20-e88ccda8555a",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-09T17:33:51.805Z",
      "createdAt": "2026-03-09T17:33:51.805Z",
      "role": "workflow:owner",
      "workflowId": "V74xrl6cZYZURJXl",
      "projectId": "PusL5vFUw7BMC2xH",
      "project": {
        "updatedAt": "2026-02-10T09:32:56.368Z",
        "createdAt": "2026-02-10T07:48:52.904Z",
        "id": "PusL5vFUw7BMC2xH",
        "name": "Edwin Li <edwinli1030@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6bd45f76-307d-46fb-be47-d711e31203fb",
        "projectRelations": [
          {
            "updatedAt": "2026-02-10T07:48:52.905Z",
            "createdAt": "2026-02-10T07:48:52.905Z",
            "userId": "6bd45f76-307d-46fb-be47-d711e31203fb",
            "projectId": "PusL5vFUw7BMC2xH",
            "user": {
              "updatedAt": "2026-07-16T01:05:57.000Z",
              "createdAt": "2026-02-10T07:48:45.501Z",
              "id": "6bd45f76-307d-46fb-be47-d711e31203fb",
              "email": "edwinli1030@gmail.com",
              "firstName": "Edwin",
              "lastName": "Li",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-10T09:34:48.396Z",
                "personalization_survey_n8n_version": "2.6.4",
                "companyIndustryExtended": [
                  "marketing-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "automationGoalSm": [
                  "customer-communication",
                  "ad-campaign"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "R5YbC0UHAkpU0zBKm9tZw",
                "userActivatedAt": 1770830267292,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1781854409855
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}