n8n/archive/zombies-2026-07-16/xad2hBCcKoEhHSRY__Fetch_V25_Order (____).json
{
  "updatedAt": "2026-03-21T15:17:22.000Z",
  "createdAt": "2026-03-04T14:47:10.044Z",
  "id": "xad2hBCcKoEhHSRY",
  "name": "Fetch_V25_Order (讀取舊單)",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "fetch-fhs-order",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "96b092cd-a4d6-4392-ade5-30cddac66abb",
      "name": "Webhook (Fetch Order)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1360,
        -608
      ],
      "webhookId": "fhs-fetch-order-v25"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Main_Orders",
          "mode": "name"
        },
        "filterByFormula": "=TRIM({Order_ID}) = '{{ $json.query.orderId }}'",
        "options": {}
      },
      "id": "e6eaeb67-77d3-49a9-b630-b98ab0084842",
      "name": "search Airtable Main_Orders",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1584,
        -608
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length > 0) {\n  // 自動偵測：優先看 fields，沒有就看最外層\n  const rawData = items[0].json;\n  const data = rawData.fields || rawData;\n  \n  // 只要裡面有單號或是儲存狀態，就代表抓到了\n  if (data.Order_ID || data.Raw_Form_State) {\n    return {\n      json: {\n        found: true,\n        Deposit: data.Deposit || 0,\n        Balance: data.Balance || 0,\n        Additional_Fee: data.Additional_Fee || 0,\n        Raw_Form_State: data.Raw_Form_State || \"\"\n      }\n    };\n  }\n}\n\nreturn {\n  json: {\n    found: false\n  }\n};\n"
      },
      "id": "b0a78d16-a797-481b-b456-ccddbd4040dd",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        -608
      ]
    }
  ],
  "connections": {
    "Webhook (Fetch Order)": {
      "main": [
        [
          {
            "node": "search Airtable Main_Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search Airtable Main_Orders": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "18ecc44e-f981-4fce-8aa5-25e97b256d3d",
  "activeVersionId": null,
  "versionCounter": 26,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-04T14:47:10.051Z",
      "createdAt": "2026-03-04T14:47:10.051Z",
      "role": "workflow:owner",
      "workflowId": "xad2hBCcKoEhHSRY",
      "projectId": "PusL5vFUw7BMC2xH",
      "project": {
        "updatedAt": "2026-02-10T09:32:56.368Z",
        "createdAt": "2026-02-10T07:48:52.904Z",
        "id": "PusL5vFUw7BMC2xH",
        "name": "Edwin Li <edwinli1030@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6bd45f76-307d-46fb-be47-d711e31203fb",
        "projectRelations": [
          {
            "updatedAt": "2026-02-10T07:48:52.905Z",
            "createdAt": "2026-02-10T07:48:52.905Z",
            "userId": "6bd45f76-307d-46fb-be47-d711e31203fb",
            "projectId": "PusL5vFUw7BMC2xH",
            "user": {
              "updatedAt": "2026-07-16T01:05:57.000Z",
              "createdAt": "2026-02-10T07:48:45.501Z",
              "id": "6bd45f76-307d-46fb-be47-d711e31203fb",
              "email": "edwinli1030@gmail.com",
              "firstName": "Edwin",
              "lastName": "Li",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-10T09:34:48.396Z",
                "personalization_survey_n8n_version": "2.6.4",
                "companyIndustryExtended": [
                  "marketing-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "automationGoalSm": [
                  "customer-communication",
                  "ad-campaign"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "R5YbC0UHAkpU0zBKm9tZw",
                "userActivatedAt": 1770830267292,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1781854409855
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}