n8n/archive/zombies-2026-07-16/zbZSLzBZMxnjHWeN__TEMP_DELETEME_Cleanup_OrderItems_Done.json
{
  "updatedAt": "2026-03-25T12:51:05.000Z",
  "createdAt": "2026-03-25T04:46:34.712Z",
  "id": "zbZSLzBZMxnjHWeN",
  "name": "TEMP_DELETEME_Cleanup_OrderItems_Done",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "t1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {}
    },
    {
      "id": "c1",
      "name": "List Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "jsCode": "return ['recqNxiDcTs5Z9fFk','rec0MNLJo3XkDtheE','recE4TVkIc68dg8P5','recIp2T2DLognwdK4','recNqN8q5ItDsx7k3','recSpZsL75RHC1s3u','recVA1lyYhG4WD22c','recaRNe38L6Imb5jI','recfdzbqgbGbmUQV7'].map(id=>({json:{id}}))"
      }
    },
    {
      "id": "a1",
      "name": "Delete Item",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "lON99lpYk558mFdA",
          "name": "Airtable Personal Access Token account"
        }
      },
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "app9GuLsW9frN4xaT",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tbljkptnNcUEyDRFH",
          "mode": "list"
        },
        "id": "={{ $json.id }}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Records": {
      "main": [
        [
          {
            "node": "Delete Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "03b93b5d-7b4a-40d6-b8a8-aeddc77365ed",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-25T04:46:34.716Z",
      "createdAt": "2026-03-25T04:46:34.716Z",
      "role": "workflow:owner",
      "workflowId": "zbZSLzBZMxnjHWeN",
      "projectId": "PusL5vFUw7BMC2xH",
      "project": {
        "updatedAt": "2026-02-10T09:32:56.368Z",
        "createdAt": "2026-02-10T07:48:52.904Z",
        "id": "PusL5vFUw7BMC2xH",
        "name": "Edwin Li <edwinli1030@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6bd45f76-307d-46fb-be47-d711e31203fb",
        "projectRelations": [
          {
            "updatedAt": "2026-02-10T07:48:52.905Z",
            "createdAt": "2026-02-10T07:48:52.905Z",
            "userId": "6bd45f76-307d-46fb-be47-d711e31203fb",
            "projectId": "PusL5vFUw7BMC2xH",
            "user": {
              "updatedAt": "2026-07-16T01:05:57.000Z",
              "createdAt": "2026-02-10T07:48:45.501Z",
              "id": "6bd45f76-307d-46fb-be47-d711e31203fb",
              "email": "edwinli1030@gmail.com",
              "firstName": "Edwin",
              "lastName": "Li",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-10T09:34:48.396Z",
                "personalization_survey_n8n_version": "2.6.4",
                "companyIndustryExtended": [
                  "marketing-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "automationGoalSm": [
                  "customer-communication",
                  "ad-campaign"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "R5YbC0UHAkpU0zBKm9tZw",
                "userActivatedAt": 1770830267292,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1781854409855
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}